<?xml version='1.0' encoding='utf-8'?>
<widget id = "com.pup-proggild.informher" 
        version = "0.0.1" 
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    
    <name>
        InformHer
    </name>
    
    <description>
        InformHer is a social question and answer app focused on women
    </description>
    
    <author email="pup.progguild@outlook.com" href="http://pup-progguild.github.io/">
        PUP Programming Guild
    </author>
    
    <content src="index.html" />
    <access origin="*" />
    
    <gap:platform name="android" />
    
    <preference name="android-minSdkVersion" value="17" />
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    
    <preference name="splash-screen-duration" value="3000"/>
    
    <icon src="icon.png" />
    
    <icon src="res/icon/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="res/icon/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="res/icon/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="res/icon/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    
    <gap:splash src="res/screen/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="res/screen/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="res/screen/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="res/screen/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
</widget>