<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InformHer</title>
    <link rel="stylesheet" type="text/css" href="css/vendor/foundation/foundation.css">
	<link rel="stylesheet" type="text/css" href="css/app/global.css">
    <link rel="stylesheet" type="text/css" href="css/app/margin-fix.css">
    <link rel="stylesheet" type="text/css" href="css/app/stream.css">
    <script type="text/javascript">
        var currPage = "home";
    </script>
</head>
<body>
<div id="wrapper">
    <div id="header"></div>
    <div id="body">
        <section id="page-home">
            <div class="row">
                <div class="small-12 columns">
                    <h1 class="text-center">
                        <a href="index.htm">
                            <img class="informher-logo"
                                 data-interchange="[./img/applogo-landscape.png, (default)],
                                    [./img/applogo-landscape.png, (landscape)],
                                    [./img/applogo-portrait.png, (portrait)]"
                                 title="InformHer">
                        </a>
                    </h1>
                </div>
                <div class="small-12 medium-6 columns"><button class="column button informher-to-login" id="btn-login" type="button">Login</button></div>
                <div class="small-12 medium-6 columns"><button class="column secondary button informher-to-register" id="btn-register" type="button">Register</button></div>
            </div>
        </section>
        <section id="page-login" class="inactive">
            <div class="row show-for-small-only">
                <div class="small-2 medium-12 columns show-for-landscape">
                    <h1 class="text-center">
                        <a href="index.htm">
                            <img src="./img/applogo-icon.png">
                        </a>
                    </h1>
                </div>
                <div class="small-10 medium-12 columns show-for-landscape"><h2>Login.</h2></div>

                <div class="small-12 columns show-for-portrait">
                    <h1 class="text-center">
                        <a href="index.htm">
                            <img class="informher-logo" src="img/applogo-portrait.png">
                        </a>
                    </h1>
                </div>
                <div class="small-12 columns show-for-portrait"><h2>Login.</h2></div>
            </div>

            <div class="row show-for-medium-up">
                <div class="medium-12 columns">
                    <h1 class="text-center">
                        <a href="index.htm">
                            <img class="informher-logo"
                                 data-interchange="[./img/applogo-landscape.png, (default)],
                                    [./img/applogo-landscape.png, (landscape)],
                                    [./img/applogo-portrait.png, (portrait)]"
                                 title="InformHer">
                        </a>
                    </h1>
                </div>
                <div class="medium-12 columns"><h2>Login.</h2></div>
            </div>

            <div class="row show-for-portrait">
                <div class="small-12 columns"><input type="text" class="column" placeholder="Username"></div>
                <div class="small-12 columns"><input type="password" class="column" placeholder="Password"></div>
            </div>
            <div class="row show-for-portrait">
                <div class="small-4 columns"><button class="tiny column button informher-to-stream" type="submit">Login</button></div>
                <div class="small-2 columns"><button class="tiny column button informher-btn-auth-social" type="submit">f</button></div>
                <div class="small-2 columns"><button class="tiny column button informher-btn-auth-social" type="submit">t</button></div>
                <div class="small-2 columns"><button class="tiny column button informher-btn-auth-social" type="submit">g</button></div>
                <div class="small-2 columns"><button class="tiny column button informher-btn-auth-social" type="submit">in</button></div>
                <div class="small-12 columns text-right"><a href="#!">Forgot password?</a></div>
            </div>

            <div class="row show-for-landscape">
                <div class="small-5 medium-5 columns"><input type="text" class="column" placeholder="Username"></div>
                <div class="small-5 medium-5 columns"><input type="password" class="column" placeholder="Password"></div>
                <div class="small-2 medium-2 columns"><button class="tiny column button informher-to-stream" type="submit">Login</button></div>
            </div>

            <div class="row show-for-landscape">
                <div class="small-2 columns"><button class="tiny column button informher-btn-auth-social" type="submit">f</button></div>
                <div class="small-2 columns"><button class="tiny column button informher-btn-auth-social" type="submit">t</button></div>
                <div class="small-2 columns"><button class="tiny column button informher-btn-auth-social" type="submit">g</button></div>
                <div class="small-2 columns"><button class="tiny column button informher-btn-auth-social" type="submit">in</button></div>
                <div class="small-4 columns text-right"><a href="#!">Forgot password?</a></div>
            </div>

            <div class="row">
                <div class="small-12 columns"><hr></div>
                <div class="small-12 columns"><a href="#!" class="informher-to-home">Back</a></div>
            </div>
        </section>
        <section id="page-register" class="inactive">
            <div class="row show-for-small-only">
                <div class="small-2 medium-12 columns show-for-landscape">
                    <h1 class="text-center">
                        <a href="index.htm">
                            <img src="./img/applogo-icon.png">
                        </a>
                    </h1>
                </div>
                <div class="small-10 medium-12 columns show-for-landscape"><h2>Register.</h2></div>

                <div class="small-12 columns show-for-portrait">
                    <h1 class="text-center">
                        <a href="index.htm">
                            <img class="informher-logo" src="img/applogo-portrait.png">
                        </a>
                    </h1>
                </div>
                <div class="small-12 columns show-for-portrait"><h2>Register.</h2></div>
            </div>

            <div class="row show-for-medium-up">
                <div class="medium-12 columns">
                    <h1 class="text-center">
                        <a href="index.htm">
                            <img class="informher-logo"
                                 data-interchange="[./img/applogo-landscape.png, (default)],
                                    [./img/applogo-landscape.png, (landscape)],
                                    [./img/applogo-portrait.png, (portrait)]"
                                 title="InformHer">
                        </a>
                    </h1>
                </div>
                <div class="medium-12 columns"><h2>Register.</h2></div>
            </div>

            <div class="row show-for-portrait">
                <div class="small-12 columns"><input type="text" class="column" placeholder="Username"></div>
                <div class="small-12 columns"><input type="text" class="column" placeholder="Email address"></div>
                <div class="small-12 columns"><input type="password" class="column" placeholder="Password"></div>
                <div class="small-12 columns"><input type="password" class="column" placeholder="Confirm password"></div>
                <div class="small-4 columns"><button class="tiny column button informher-to-stream" type="submit">Register</button></div>
                <div class="small-2 columns"><button class="tiny column button informher-btn-auth-social" type="submit">f</button></div>
                <div class="small-2 columns"><button class="tiny column button informher-btn-auth-social" type="submit">t</button></div>
                <div class="small-2 columns"><button class="tiny column button informher-btn-auth-social" type="submit">g</button></div>
                <div class="small-2 columns"><button class="tiny column button informher-btn-auth-social" type="submit">in</button></div>
            </div>

            <div class="row show-for-landscape">
                <div class="small-6 medium-6 columns"><input type="text" class="column" placeholder="Username"></div>
                <div class="small-6 medium-6 columns"><input type="email" class="column" placeholder="Email address"></div>
                <div class="small-6 medium-6 columns"><input type="password" class="column" placeholder="Password"></div>
                <div class="small-6 medium-6 columns"><input type="password" class="column" placeholder="Confirm password"></div>
                <div class="small-4 medium-8 columns"><button class="tiny column button informher-to-stream" type="submit">Register</button></div>
                <div class="small-2 medium-1 columns"><button class="tiny column button informher-btn-auth-social" type="submit">f</button></div>
                <div class="small-2 medium-1 columns"><button class="tiny column button informher-btn-auth-social" type="submit">t</button></div>
                <div class="small-2 medium-1 columns"><button class="tiny column button informher-btn-auth-social" type="submit">g</button></div>
                <div class="small-2 medium-1 columns"><button class="tiny column button informher-btn-auth-social" type="submit">in</button></div>
            </div>

            <div class="row">
                <div class="small-12 columns"><hr></div>
                <div class="small-12 columns"><a href="#!" class="informher-to-home">Back</a></div>
            </div>
        </section>
        <section id="page-stream" class="inactive">
            <div class="row show-for-small-only">
                <div class="small-2 medium-12 columns show-for-landscape">
                    <h1 class="text-center">
                        <a href="index.htm">
                            <img src="./img/applogo-icon.png">
                        </a>
                    </h1>
                </div>
                <div class="small-10 medium-12 columns show-for-landscape"><h2>All posts in category ask tagged tag-1, relate tagged tag-1</h2></div>

                <div class="small-12 columns show-for-portrait">
                    <h1 class="text-center">
                        <a href="index.htm">
                            <img class="informher-logo" src="img/applogo-portrait.png">
                        </a>
                    </h1>
                </div>
            </div>

            <div class="row show-for-medium-up">
                <div class="medium-12 columns">
                    <h1 class="text-center">
                        <a href="index.htm">
                            <img class="informher-logo"
                                 data-interchange="[./img/applogo-landscape.png, (default)],
                                    [./img/applogo-landscape.png, (landscape)],
                                    [./img/applogo-portrait.png, (portrait)]"
                                 title="InformHer">
                        </a>
                    </h1>
                </div>
                <div class="medium-12 columns"><h2>All posts in category ask tagged tag-1, relate tagged tag-1</h2></div>
            </div>

            <div class="row">
	            <div class="small-8 columns">
		            <!-- TODO get Bootstrap and make dropdown buttons:
		            (toggle) ask:
		            = new post
		            = sort by
		                = newest
		                = title
		                = author

		            (toggle) relate:
		            = new post
		            = sort by
		                = newest
		                = title
		                = author
		            -->
		            <ul class="inline-list">
			            <li>
				            <a href="#" class="tiny split button">Ask <span data-dropdown="drop-ask"></span></a><br>
				            <ul id="drop-ask" class="f-dropdown" data-dropdown-content>
					            <li><a class="informher-to-ask" href="#!">New Post</a></li>
					            <li><a href="#!">Sort by Newest</a></li>
					            <li><a href="#!">Sort by Title</a></li>
					            <li><a href="#!">Sort by Author</a></li>
				            </ul>
			            </li>
			            <li>
				            <a href="#" class="tiny split button">Relate <span data-dropdown="drop-relate"></span></a><br>
				            <ul id="drop-relate" class="f-dropdown" data-dropdown-content>
					            <li><a class="informher-to-relate" href="#!">New Post</a></li>
					            <li><a href="#">Sort by Newest</a></li>
					            <li><a href="#">Sort by Title</a></li>
					            <li><a href="#">Sort by Author</a></li>
				            </ul>
			            </li>
		            </ul>
	            </div>
                <div class="small-4 columns">
                    <a href="#!" class="tiny right button informher-to-shoutout">Shoutout</a>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <ul class="informher-stream stream column" id="stream" data-stream>
                        <li class="stream-post">
                            <div class="post-meta">
                                <ul class="post-tags">
                                    <li class="tag-a"><a href="#!tag=a">a</a></li><li class="tag-b"><a href="#!tag=b">b</a></li><li class="tag-c"><a href="#!tag=c">c</a></li><li class="tag-d"><a href="#!tag=d">d</a></li>
                                </ul>
                                <ul class="post-categories">
                                    <li class="category-ask"><a href="#!category=ask">ask</a></li>
                                </ul>
                                <strong class="post-title"><a href="#ask-1">title</a></strong>
                            </div>
                            <div id="ask-1" class="post-content">
                                content
                            </div>
                        </li>
                        <li class="stream-post">
                            <div class="post-meta">
                                <ul class="post-tags">
                                    <li class="tag-a"><a href="#!tag=a">a</a></li><li class="tag-b"><a href="#!tag=b">b</a></li><li class="tag-c"><a href="#!tag=c">c</a></li><li class="tag-d"><a href="#!tag=d">d</a></li>
                                </ul>
                                <ul class="post-categories">
                                    <li class="category-ask"><a href="#!category=ask">ask</a></li>
                                </ul>
                                <strong class="post-title"><a href="#ask-2">title</a></strong>
                            </div>
                            <div id="ask-2" class="post-content">
                                content
                            </div>
                        </li>
                        <li class="stream-post">
                            <div class="post-meta">
                                <ul class="post-tags">
                                    <li class="tag-a"><a href="#!tag=a">a</a></li><li class="tag-b"><a href="#!tag=b">b</a></li><li class="tag-c"><a href="#!tag=c">c</a></li><li class="tag-d"><a href="#!tag=d">d</a></li>
                                </ul>
                                <ul class="post-categories">
                                    <li class="category-ask"><a href="#!category=ask">ask</a></li>
                                </ul>
                                <strong class="post-title"><a href="#ask-3">title</a></strong>
                            </div>
                            <div id="ask-3" class="post-content">
                                content
                            </div>
                        </li>
                        <li class="stream-post">
                            <div class="post-meta">
                                <ul class="post-tags">
                                    <li class="tag-a"><a href="#!tag=a">a</a></li><li class="tag-b"><a href="#!tag=b">b</a></li><li class="tag-c"><a href="#!tag=c">c</a></li><li class="tag-d"><a href="#!tag=d">d</a></li>
                                </ul>
                                <ul class="post-categories">
                                    <li class="category-ask"><a href="#!category=ask">ask</a></li>
                                </ul>
                                <strong class="post-title"><a href="#ask-4">title</a></strong>
                            </div>
                            <div id="ask-4" class="post-content">
                                content
                            </div>
                        </li>
                        <li class="stream-post">
                            <div class="post-meta">
                                <ul class="post-tags">
                                    <li class="tag-a"><a href="#!tag=a">a</a></li><li class="tag-b"><a href="#!tag=b">b</a></li><li class="tag-c"><a href="#!tag=c">c</a></li><li class="tag-d"><a href="#!tag=d">d</a></li>
                                </ul>
                                <ul class="post-categories">
                                    <li class="category-ask"><a href="#!category=ask">ask</a></li>
                                </ul>
                                <strong class="post-title"><a href="#ask-5">title</a></strong>
                            </div>
                            <div id="ask-5" class="post-content">
                                content
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="page-ask" class="inactive">
            <div class="row show-for-small-only">
                <div class="small-2 medium-12 columns show-for-landscape">
                    <h1 class="text-center">
                        <a href="index.htm">
                            <img src="./img/applogo-icon.png">
                        </a>
                    </h1>
                </div>
                <div class="small-10 medium-12 columns show-for-landscape"><h2>Ask her.</h2></div>

                <div class="small-12 columns show-for-portrait">
                    <h1 class="text-center">
                        <a href="index.htm">
                            <img class="informher-logo" src="img/applogo-portrait.png">
                        </a>
                    </h1>
                </div>
                <div class="small-12 columns show-for-portrait"><h2>Ask her.</h2></div>
            </div>
            <div class="row show-for-medium-up">
                <div class="medium-12 columns">
                    <h1 class="text-center">
                        <a href="index.htm">
                            <img class="informher-logo"
                                 data-interchange="[./img/applogo-landscape.png, (default)],
                                        [./img/applogo-landscape.png, (landscape)],
                                        [./img/applogo-portrait.png, (portrait)]"
                                 title="InformHer">
                        </a>
                    </h1>
                </div>
                <div class="medium-12 columns"><h2>Ask her.</h2></div>
            </div>
            <form action="http://informherapi.azurewebsites.net/post/ask" method="post">
                <div class="row">
                    <div class="small-12 columns"><input type="text" placeholder="Title" name="title"></div>
                    <div class="small-12 columns"><textarea rows="5" placeholder="Type your question here." name="content"></textarea></div>
                    <div class="show-for-portrait">
                        <div class="small-12 columns"><input type="text" placeholder="Tags"></div>
                        <div class="small-12 columns"><button type="submit" class="tiny column button">Post</button></div>
                    </div>
                    <div class="show-for-landscape">
                        <div class="small-8 medium-10 columns"><input type="text" placeholder="Tags"></div>
                        <div class="small-4 medium-2 columns"><button type="submit" class="tiny column button">Post</button></div>
                    </div>
                </div>
            </form>
            <div class="row show-for-medium-up">
                <div class="medium-12 columns"><hr></div>
                <div class="medium-12 columns"><a href="#!" class="informher-to-stream">Back</a></div>
            </div>
            <div class="row show-for-small-only">
                <div class="small-12 columns show-for-portrait"><hr></div>
                <div class="small-12 columns show-for-portrait"><a href="#!" class="informher-to-stream">Back</a></div>
            </div>
        </section>
        <section id="page-relate" class="inactive">
            <div class="row show-for-small-only">
                <div class="small-2 medium-12 columns show-for-landscape">
                    <h1 class="text-center">
                        <a href="index.htm">
                            <img src="./img/applogo-icon.png">
                        </a>
                    </h1>
                </div>
                <div class="small-10 medium-12 columns show-for-landscape"><h2>Relate to her.</h2></div>

                <div class="small-12 columns show-for-portrait">
                    <h1 class="text-center">
                        <a href="index.htm">
                            <img class="informher-logo" src="img/applogo-portrait.png">
                        </a>
                    </h1>
                </div>
                <div class="small-12 columns show-for-portrait"><h2>Relate to her.</h2></div>
            </div>
            <div class="row show-for-medium-up">
                <div class="medium-12 columns">
                    <h1 class="text-center">
                        <a href="index.htm">
                            <img class="informher-logo"
                                 data-interchange="[./img/applogo-landscape.png, (default)],
                                        [./img/applogo-landscape.png, (landscape)],
                                        [./img/applogo-portrait.png, (portrait)]"
                                 title="InformHer">
                        </a>
                    </h1>
                </div>
                <div class="medium-12 columns"><h2>Relate to her.</h2></div>
            </div>
            <form action="http://informherapi.azurewebsites.net/post/relate" method="post">
                <div class="row">
                    <div class="small-12 columns"><input type="text" placeholder="Title" name="title"></div>
                    <div class="small-12 columns"><textarea rows="5" placeholder="Type anything here." name="content"></textarea></div>
                    <div class="show-for-portrait">
                        <div class="small-12 columns"><input type="text" placeholder="Tags"></div>
                        <div class="small-12 columns"><button type="submit" class="tiny column button">Post</button></div>
                    </div>
                    <div class="show-for-landscape">
                        <div class="small-8 medium-10 columns"><input type="text" placeholder="Tags"></div>
                        <div class="small-4 medium-2 columns"><button type="submit" class="tiny column button">Post</button></div>
                    </div>
                </div>
            </form>
            <div class="row show-for-medium-up">
                <div class="medium-12 columns"><hr></div>
                <div class="medium-12 columns"><a href="#!" class="informher-to-stream">Back</a></div>
            </div>
            <div class="row show-for-small-only">
                <div class="small-12 columns show-for-portrait"><hr></div>
                <div class="small-12 columns show-for-portrait"><a href="#!" class="informher-to-stream">Back</a></div>
            </div>
        </section>
        <section id="page-shoutout" class="inactive">
            <div class="row show-for-small-only">
                <div class="small-2 medium-12 columns show-for-landscape">
                    <h1 class="text-center">
                        <a href="index.htm">
                            <img src="./img/applogo-icon.png">
                        </a>
                    </h1>
                </div>
                <div class="small-10 medium-12 columns show-for-landscape"><h2>Be strong. Shout out.</h2></div>

                <div class="small-12 columns show-for-portrait">
                    <h1 class="text-center">
                        <a href="index.htm">
                            <img class="informher-logo" src="img/applogo-portrait.png">
                        </a>
                    </h1>
                </div>
                <div class="small-12 columns show-for-portrait"><h2>Be strong. Shout out.</h2></div>
            </div>
            <div class="row show-for-medium-up">
                <div class="medium-12 columns">
                    <h1 class="text-center">
                        <a href="index.htm">
                            <img class="informher-logo"
                                 data-interchange="[./img/applogo-landscape.png, (default)],
                                        [./img/applogo-landscape.png, (landscape)],
                                        [./img/applogo-portrait.png, (portrait)]"
                                 title="InformHer">
                        </a>
                    </h1>
                </div>
                <div class="medium-12 columns"><h2>Be strong. Shout out.</h2></div>
            </div>
            <form action="http://informherapi.azurewebsites.net/post/shoutout" method="post">
                <div class="row">
                    <div class="small-12 columns"><input type="text" placeholder="Appropriate description(s) of your report"></div>
                    <!-- TODO when selecting tags:
                    <input type="hidden" name="tags[]" value="tag1">
                    <input type="hidden" name="tags[]" value="tag2">
                    <input type="hidden" name="tags[]" value="tag3">
                    <input type="hidden" name="tags[]" value="tag4">
                    <input type="hidden" name="tags[]" value="tag5">
                    <input type="hidden" name="tags[]" value="tag6">
                    for tags: [tag1], [tag2], [tag3], [tag4], [tag5], [tag6]
                    -->
                </div>
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <div class="small-8 columns"><label class="column" for="btngrp-shoutout-track">Do you want to send your current location to InformHer?</label></div>
                        <div class="small-4 columns">
                            <input type="hidden" value="" name="track">
                            <ul class="button-group column" id="btngrp-shoutout-track">
                                <li><a href="#" class="tiny button">Yes</a></li>
                                <li><a href="#" class="tiny button">No</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <div class="small-8 columns"><label class="column" for="btngrp-shoutout-contact">Do you want InformHer to get in contact with you?</label></div>
                        <div class="small-4 columns">
                            <input type="hidden" value="" name="contact">
                            <ul class="button-group column" id="btngrp-shoutout-contact">
                                <li><a href="#" class="tiny button">Yes</a></li>
                                <li><a href="#" class="tiny button">No</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <div class="small-8 columns"><label class="column" for="btngrp-shoutout-urgent">Do you want InformHer to contact you immediately?</label></div>
                        <div class="small-4 columns">
                            <input type="hidden" value="" name="urgent">
                            <ul class="button-group column" id="btngrp-shoutout-urgent">
                                <li><a href="#" class="tiny button">Yes</a></li>
                                <li><a href="#" class="tiny button">No</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="small-12 medium-6 columns"><button type="submit" class="tiny column button">Submit</button></div>
                </div>
                <div class="row show-for-medium-up">
                    <div class="medium-12 columns"><hr></div>
                    <div class="medium-12 columns"><a href="#!" class="informher-to-stream">Back</a></div>
                </div>
                <div class="row show-for-small-only">
                    <div class="small-12 columns show-for-portrait"><hr></div>
                    <div class="small-12 columns show-for-portrait"><a href="#!" class="informher-to-stream">Back</a></div>
                </div>
            </form>
        </section>
    </div>
    <div id="footer"></div>
</div>

<script type="text/javascript" src="js/vendor/jquery.js"></script>
<script type="text/javascript" src="js/vendor/underscore.js"></script>
<script type="text/javascript" src="js/vendor/backbone.js"></script>
<script type="text/javascript" src="js/vendor/backbone.marionette.js"></script>

<script type="text/javascript" src="js/vendor/foundation/foundation.js"></script>
<script type="text/javascript" src="js/vendor/foundation/foundation.interchange.js"></script>
<script type="text/javascript" src="js/vendor/foundation/foundation.dropdown.js"></script>
<script type="text/javascript" src="js/app/views/controls/foundation.stream.js"></script>

<script type="text/javascript" src="js/app/models/tag.js"></script>
<script type="text/javascript" src="js/app/collections/tags.js"></script>

<script type="text/javascript" src="js/app/models/post.js"></script>
<script type="text/javascript" src="js/app/collections/posts.js"></script>

<script type="text/javascript" src="js/app/models/category.js"></script>
<script type="text/javascript" src="js/app/collections/categories.js"></script>

<script type="text/javascript" src="js/app/views/stream.js"></script>

<script type="text/javascript">
    $(document).foundation();
</script>

<!-- TODO fix the incorrect parsing of template (by Underscore) -->
<script id="template-post" type="text/html">
    <div class="post-meta">
        <ul class="post-tags">
            <% _.each(tags, function(tag){ %>
            <li><a href="#!<%= tag.id %>"><span class="label"><%= tag.name %></span></a></li>
            <% }); %>
        </ul>
        <ul class="post-categories">
            <li class="category-ask"><a href="#!category=ask">ask</a></li>
        </ul>
        <strong class="post-title"><a href="#<%= type %>-<%= id %>"><%= title %></a></strong>
    </div>
    <div id="<%= type %>-<%= id %>" class="post-content">
        <%= content %>
    </div>
</script>
<script type="text/javascript">
    function parseData(data) {
        if(!(data instanceof Array))
            data = [data];

        var posts = new PostCollection();

        for(var i = 0; i < data.length; i++) {
            var post = data[i];

            var postCategories = post.category;
            var categories = new CategoryCollection();

            for(var j = 0; j < postCategories.length; j++) {
                var postCategory = postCategories[j];
                var newCategory = new Category({
                    id: postCategory.id,
                    name: postCategory.name,
                    description: postCategory.description,
                    created: postCategory.created_at,
                    updated: postCategory.updated_at
                });
                categories.add(newCategory);
            }

            var newPost = new Post({
                id: post.id,
                type: "type",
                tags: [{ id: 0, name: "tag-1" }, { id: 1, name: "tag-2" }, { id: 2, name: "tag-3" }],
                title: post.title,
                content: post.content,
                author: post.user_id,
                created: post.created_at,
                updated: post.updated_at,
                deleted: post.deleted_at,
                categories: categories
            });

            posts.add(newPost);

            window.test = newPost;
        }
        return posts;
    }

    $.getJSON("http://informherapi.azurewebsites.net/post", function(response) {
        if(response.status != "POSTS_ALL_RETRIEVE_SUCCESSFUL") {
            alert("Can't fetch data!");
            return;
        }
        var posts = parseData(response.posts);
        var streamView = new StreamPostsView({
            collection: posts,
            el: "#stream"
        });

        streamView.render();
    });

    function navigate(page) {
	    var prevPage = $("#body").find("section").not(".inactive");
	    var currPage = $("#body").find("section").filter("#page-" + page);
	    prevPage
		    .addClass("inactive")
		    .hide().animate({ opacity: 1 }, 75, function() {
			    prevPage.show().animate({ opacity: 1 }, 75, function() {
				    prevPage.hide().animate({ opacity: 1 }, 75, function() {
				        currPage
						    .removeClass("inactive")
						    .slideDown(500);
				    });
			    });
	    });
    }

	$(document).ready(function() {
		currPage = "home";
		var navigatePrefix = "informher-to-";

		$(["button", "a"]).each(function(i, tagName) {
			$(tagName).bind("click.informher-nav", function() {
				var classes = $(this).attr("class").split(' ');
				for(var i = 0; i < classes.length; i++) {
					var cls = classes[i];
					if(cls.indexOf(navigatePrefix) == 0) {
						var dest = cls.substr(navigatePrefix.length);
						if(dest.length == 0)
							return;
						navigate(dest);
						return;
					}
				}
			});
		})
		$("#body").find("section").not("#page-home").addClass("inactive").hide();
	});
</script>

</body>
</html>
