<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>InformHer</title>

    <!-- ionic css -->
    <link href="lib/css/ionic.css" rel="stylesheet">

    <!-- your app's css -->
    <link href="css/app.css" rel="stylesheet">

    <!-- core app scripts -->
    <script src="lib/js/underscore/underscore.js"></script>

    <!-- angularjs scripts -->
    <script src="lib/js/ionic.js"></script>
    <script src="lib/js/angular/angular.js"></script>
    <script src="lib/js/angular/angular-animate.js"></script>
    <script src="lib/js/angular/angular-sanitize.js"></script>
    <script src="lib/js/angular-ui/angular-ui-router.js"></script>
    <script src="lib/js/angular-translate/angular-translate.js"></script>
    <script src="lib/js/ionic-angular.js"></script>

    <!-- cordova script -->
    <!-- <script src="cordova.js"></script> -->

    <!-- your app's script -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
</head>

<!--
  'starter' is the name of this angular module (js/app.js)
-->
<body ng-app="informher" ng-controller="SessionCtrl" animation="slide-left-right-ios7">
<!--
  The nav bar that will be updated as we navigate between views
  Additional attributes set its look, nav-bar animation and icons
  Icons provided by Ionicons: http://ionicons.com/
-->

<ion-side-menus>
    <!-- Center content -->
    <ion-pane ion-side-menu-content drag-content="false">
        <!--
        <ion-nav-bar animation="nav-title-slide-ios7"
                     type="bar-dark"
                     back-button-type="button-icon"
                     back-button-icon="ion-arrow-left-c"></ion-nav-bar>-->

        <!-- where the initial view template will be rendered -->
        <ion-nav-view animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <!-- Left menu -->
    <ion-side-menu side="left" id="sidemenuProfile">
        <div class="bar bar-header bar-dark item-input-inset">
            <h2 class="title">You</h2>
        </div>
        <ion-content has-header="true">
            <div class="list">
                <div class="item item-text-wrap item-thumbnail-left">
                    <img class="avatar-author" ng-src="{{user.avatar_url}}" alt="{{user.username}}" />
                    <h2><a href="#/profile/{{user.id}}">{{user.username}}</a></h2>
                    <p>Joined <time>{{user.created_at}}</time></p>
                </div>
                <a class="item" ng-controller="AuthCtrl" ng-click="doAuth('logout')">
                    Logout
                </a>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>

<!--== PAGES ==-->

<script id="pages/home.html" type="text/ng-template">
    <ion-nav-page id="pageHome">
        <ion-content has-footer="true">
            <div class="padding">
                <img src="img/informher-banner-with-icon.png" alt="{{ '_APP_ID' | translate }}" class="full-image" />
            </div>

            <div class="row">
                <div class="col"><a class="button button-block button-positive" href="#/auth/login">{{ 'LOGIN' | translate }}</a></div>
                <div class="col"><a class="button button-block button-positive" href="#/auth/register">{{ 'REGISTER' | translate }}</a></div>
            </div>
        </ion-content>
        <ion-footer-bar type="padding-horizontal" id="informher-language-list">
            <a class="button button-clear" href="#/settings/language"><i class="icon ion-ios7-world"></i> {{ 'LANGUAGE' | translate }}</a>
        </ion-footer-bar>
    </ion-nav-page>
</script>
<script id="pages/auth/login.html" type="text/ng-template">
    <ion-nav-page id="pageLogin">
        <ion-content has-header="true">
            <div class="padding">
                <h1>{{ 'LOGIN' | translate }}</h1>
            </div>

            <div class="card" ng-hide="!message.displayed">
                <div class="item item-divider {{message.title.color.bg}}-bg {{message.title.color.bg}}-border {{message.title.color.fg}}">
                    {{ message.title.content }}
                </div>
                <div class="item item-text-wrap {{message.title.color.bg}}-border">
                    <p>{{ message.body.content }}</p>
                </div>
            </div>

            <ul class="list">
                <li class="item item-input">
                    <span class="input-label">{{ 'USERNAME' | translate }}</span>
                    <input ng-model="input.username" type="text" placeholder="{{ 'USERNAME' | translate }}">
                </li>
                <li class="item item-input">
                    <span class="input-label">{{ 'PASSWORD' | translate }}</span>
                    <input ng-model="input.password" type="password" placeholder="{{ 'PASSWORD' | translate }}">
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input ng-model="input.remember" type="checkbox">
                    </label>
                    {{ 'REMEMBER_ME' | translate }}
                </li>
                <li class="item">
                    <a href="">{{ 'FORGOT_PASSWORD' | translate }}</a>
                </li>
            </ul>
            <div class="padding-horizontal">
                <button class="button button-positive" type="button" ng-click="doAuth('login')">{{ 'LOGIN' | translate }}</button>
                <button class="button" type="button" ng-click="goBack()">{{ 'BACK' | translate }}</button>
            </div>
        </ion-content>
    </ion-nav-page>
</script>
<script id="pages/auth/register.html" type="text/ng-template">
    <ion-nav-page id="pageRegister">
        <ion-content has-header="true">
            <div class="padding">
                <h1>{{ 'REGISTER' | translate }}</h1>
            </div>

            <div class="card" ng-hide="!message.displayed">
                <div class="item item-divider {{message.title.color.bg}}-bg {{message.title.color.bg}}-border {{message.title.color.fg}}">
                    {{ message.title.content }}
                </div>
                <div class="item item-text-wrap {{message.title.color.bg}}-border">
                    <p>{{ message.body.content }}</p>
                </div>
            </div>

            <ul class="list" ng-hide="registrationSuccessful">
                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'USERNAME' | translate }}</span>
                    <input ng-model="input.username" type="text" placeholder="{{ 'USERNAME' | translate }}">
                </li>
                <li class="item item-input item-stacked-label">
                    <span class="input-label">E-mail address</span>
                    <input ng-model="input.email" type="email" placeholder="E-mail address">
                </li>
                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'PASSWORD' | translate }}</span>
                    <input ng-model="input.password" type="password" placeholder="{{ 'PASSWORD' | translate }}">
                </li>
                <li class="item item-input item-stacked-label">
                    <span class="input-label">Confirm password</span>
                    <input ng-model="input.passwordConfirmation" type="password" placeholder="Confirm password">
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input ng-model="input.agree" type="checkbox">
                    </label>
                    {{ 'TERMS_OF_USE_PRE' | translate }}<a href="" ng-click="openTouModal()">{{ 'TERMS_OF_USE' | translate }}</a>{{ 'TERMS_OF_USE_POST' | translate }}
                </li>
            </ul>
            <div class="padding-horizontal">
                <div ng-hide="registrationSuccessful">
                    <button class="button button-positive" type="button" ng-click="doAuth('register')" ng-disabled="!input.agree">
                        {{ 'REGISTER' | translate }}
                    </button>
                    <button class="button" type="button" ng-click="goBack()">{{ 'BACK' | translate }}</button>
                </div>
                <a class="button button-positive button-block" ng-click="goBack()" ng-hide="!registrationSuccessful">
                    {{ 'BACK' | translate }}
                </a>
            </div>
        </ion-content>
    </ion-nav-page>
</script>

<script id="pages/stream.html" type="text/ng-template">
    <ion-nav-page id="pageStream">
        <div class="bar bar-header bar-dark item-input-inset">
            <button class="button button-icon" ng-click="toggleLeft()"><i class="icon ion-navicon"></i></button>
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="{{ 'SEARCH' | translate }}">
            </label>
            <a class="button button-clear" href="#/settings/main"><i class="icon ion-gear-a"></i></a>
        </div>
        <div class="bar bar-subheader">
            <button class="button button-outline button-energized" ng-click="toggleFilter('ask')" ng-class="filterCriteria.ask ? 'active' : ''"><i class="icon ion-help-circled"></i></button>
            <button class="button button-energized" ng-click="openModal('modalAsk')"><i class="icon ion-plus"></i></button>
            <button class="button button-outline button-balanced" ng-click="toggleFilter('relate')" ng-class="filterCriteria.relate ? 'active' : ''"><i class="icon ion-information-circled"></i></button>
            <button class="button button-balanced" ng-click="openModal('modalRelate')"><i class="icon ion-plus"></i></button>
            <!--
            <button class="button button-outline button-positive" ng-click="toggleFilter('shoutout')" ng-class="filterCriteria.shoutout ? 'active' : ''"><i class="icon ion-chatbox-working"></i></button>
            -->
            <button class="button button-positive"  ng-click="openModal('modalShoutout')"><i class="icon ion-plus"></i></button>
            <button class="button button-clear button-dark" ng-click="flipFilter()"><i class="icon ion-contrast"></i></button>
        </div>
        <ion-content has-header="true" has-subheader="true" has-footer="true" scroll="true" on-refresh="onRefresh()">
            <ion-list>
                <a ng-repeat="post in posts" class="item item-avatar informher-stream-item-meta" href="#/stream/view/{{post.id}}" ng-hide="!post.visible">
                    <img class="avatar-author" ng-src="{{post.author.profile.avatar_url}}" alt="{{post.author.username}}" />
                    <strong class="informher-{{post.category.name}} informher-category-tag">{{post.category.name}}</strong>
                    <h2>{{post.title}}</h2>
                    <p>{{post.author.username}} &middot; <time>{{post.created_at}}</time> &middot; {{post.comments_count}} <i class="icon ion-chatbox"></i> &middot; {{post.likers}} <i class="icon ion-thumbsup"></i> </p>
                </a>
            </ion-list>
            <ion-scroll-refresher>
                <i class="icon ion-loading-a"></i>
            </ion-scroll-refresher>
        </ion-content>
        <div class="bar bar-footer">
            <div class="button-bar">
                <button class="button icon-left">Title</button>
                <button class="button icon-left">Author</button>
                <button class="button icon-left icon ion-arrow-down-a">Date</button>
            </div>
        </div>
    </ion-nav-page>
</script>

<script id="pages/post.html" type="text/ng-template">
    <ion-nav-page id="pagePost">
        <div class="bar bar-header bar-dark item-input-inset">
            <button class="button button-icon" ng-click="goBack()"><i class="icon ion-arrow-left-c"></i></button>
            <h1 class="title">Post &mdash; View</h1>
        </div>
        <ion-content has-header="true" has-footer="true" on-refresh="onRefresh()">
            <div class="list">
                <div class="item item-text-wrap item-thumbnail-left informher-stream-item-meta">
                    <img class="avatar-author" ng-src="{{post.author.profile.avatar_url}}" alt="{{post.author.username}}" />
                    <strong class="informher-{{post.category.name}} informher-category-tag">{{post.category.name}}</strong>
                    <h2>{{post.title}}</h2>
                    <p><a href="#/profile/{{post.author.id}}">{{post.author.username}}</a> &middot; <time>{{post.created_at}}</time></p>
                    <button class="button icon-left button-small ion-thumbsup" ng-click="likePost()">Like ({{post.likers}})</button>
                    <button class="button icon-left button-small ion-compose" ng-click="edit()">Edit</button>
                </div>
                <div class="item item-text-wrap informher-post-tags">
                    Tags:
                    <a class="informher-post-tag" ng-repeat="tag in post.tags" href="#/stream/tag/{{tag.id}}">{{tag.tagname}}</a>
                </div>
                <div class="item item-text-wrap">
                    {{post.content}}
                </div>
                <div class="item item-divider">
                    Comments
                </div>
                <div class="item item-avatar item-text-wrap">
                    <img class="avatar-author" ng-src="{{user.avatar_url}}" alt="{{user.username}}" />
                    <textarea ng-model="input.message" placeholder="Tap to begin writing"></textarea>
                    <button class="button button-small button-positive" ng-click="addComment()">Submit</button>
                </div>
                <div ng-repeat="comment in post.comments" class="item item-text-wrap item-avatar informher-comment-item">
                    <img class="avatar-author" ng-src="{{comment.author.profile.avatar_url}}" alt="{{comment.author.username}}" />
                    <h3><a href="#/profile/{{comment.author.id}}">{{comment.author.username}}</a></h3>
                    <time class="timestamp">{{comment.created_at}}</time>
                    <p>{{comment.message}}</p>
                    <button class="button button-clear button-small icon-left ion-thumbsup informher-btn-like"  ng-click="likeComment(comment.id)">Like ({{comment.likers}})</button>
                </div>
            </div>
            <ion-scroll-refresher>
                <i class="icon ion-loading-a"></i>
            </ion-scroll-refresher>
        </ion-content>
    </ion-nav-page>
</script>

<script id="pages/profile.html" type="text/ng-template">
    <ion-nav-page id="pageProfile">
        <div class="bar bar-header bar-dark item-input-inset">
            <button class="button button-icon" ng-click="goBack()"><i class="icon ion-arrow-left-c"></i></button>
            <h1 class="title">Viewing profile</h1>
        </div>
        <ion-content has-header="true" has-footer="true">
            <ul class="list">
                <li class="item item-image">
                    <img class="full-image" ng-src="{{user.avatar_url}}">
                </li>
                <li class="item item-input">
                    <span class="input-label">Username</span>
                    <input ng-model="user.username" type="text" disabled>
                </li>
                <li class="item item-input">
                    <span class="input-label">Joined</span>
                    <input ng-model="user.created_at" type="date" disabled>
                </li>
                <li class="item item-input">
                    <span class="input-label">Badge</span>
                    <input ng-model="user.badge" type="text" disabled>
                </li>
                <li class="item item-input item-stacked-label">
                    <span class="input-label">Bio</span>
                    <textarea ng-model="user.bio" placeholder="Tell something about your life"
                              ng-disabled="!isEditMode"></textarea>
                </li>
                <li class="item item-divider">
                    Contact Information
                </li>
                <li class="item item-input item-stacked-label">
                    <span class="input-label">E-mail address</span>
                    <input ng-model="user.email_address" type="email" placeholder="Your email address here" ng-disabled="!isEditMode">
                </li>
                <li class="item item-input item-stacked-label">
                    <span class="input-label">Facebook URL</span>
                    <label class="item item-input">
                        www.facebook.com/
                        <input ng-model="user.facebook_username" type="text" placeholder="Facebook URL" ng-disabled="!isEditMode">
                    </label>
                </li>
                <li class="item item-input item-stacked-label">
                    <span class="input-label">Twitter handle</span>
                    <label class="item item-input">
                        <i class="icon ion-at placeholder-icon"></i>
                        <input ng-model="user.twt_handle" type="text" placeholder="Twitter handle" ng-disabled="!isEditMode">
                    </label>
                </li>
                <li class="item item-input item-stacked-label">
                    <span class="input-label">Website URL</span>
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input ng-model="user.hompage_url" type="url" ng-disabled="!isEditMode" placeholder="Website URL">
                    </label>
                </li>

            </ul>
            <div class="row" ng-hide="!isEditMode">
                <div class="col"><button class="button button-block button-positive" type="button" ng-click="save()">Save</button></div>
                <div class="col"><button class="button button-block" type="button" ng-click="cancel()">Cancel</button></div>
            </div>
            <div class="row" ng-hide="isEditMode">
                <div class="col" ng-hide="currentUser.id != user.user_id"><button class="button button-block button-positive" type="button" ng-click="editMode()">Edit</button></div>
                <div class="col"><button class="button button-block" type="button" ng-click="goBack()">Back</button></div>
            </div>
        </ion-content>
    </ion-nav-page>
</script>

<!--== MENUS ==-->
<script id="menus/settings.html" type="text/ng-template">
    <div class="bar bar-header bar-dark">
        <button class="button button-icon" ng-click="goBack()"><i class="icon ion-arrow-left-c"></i></button>
        <h1 class="title">Settings</h1>
    </div>
    <ion-content has-header="true">
        <div class="list">
            <div class="item item-divider">Account</div>
            <div class="item item-toggle">
                Track my location and display it in profile
                <label class="toggle">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item item-divider">Stream</div>
            <a class="item" href="#/settings/language">
                Language
                <span class="item-note">{{ '_LANGUAGE_ID' | translate }}</span>
            </a>
            <div class="item item-divider">Default sort</div>
            <label class="item item-radio">
                <input type="radio" name="sort">
                <div class="item-content">
                    Title, ascending
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="sort">
                <div class="item-content">
                    Title, descending
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="sort">
                <div class="item-content">
                    Author, ascending
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="sort">
                <div class="item-content">
                    Author, descending
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="sort">
                <div class="item-content">
                    Date, recent
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="sort">
                <div class="item-content">
                    Date, older
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>
    </ion-content>
</script>

<script id="menus/language.html" type="text/ng-template">
    <div class="bar bar-header bar-dark">
        <button class="button button-icon" ng-click="goBack()"><i class="icon ion-arrow-left-c"></i></button>
        <h1 class="title">{{ 'LANGUAGE' | translate }}</h1>
    </div>
    <ion-content has-header="true">
        <div class="list">
            <label class="item item-radio">
                <input type="radio" name="lang" ng-checked="language == 'en-PH'" ng-click="setLanguage('en-PH')">
                <div class="item-content">English</div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="lang" ng-checked="language == 'tl-PH'" ng-click="setLanguage('tl-PH')">
                <div class="item-content">Tagalog</div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>
    </ion-content>
</script>

<!--== MODALS ==-->

<script id="modals/tos.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-dark">
            <h1 class="title">Terms of Use</h1>
        </header>
        <ion-content has-header="true" padding="true">
            <ul>
                <li>Thou shalt not get your neighbor's lolis, nor their underwear, nor their virginity. It is strictly
                    prohibited. You are going to jail if you do, tough guy.
                </li>
                <li>Thou shalt not raep. As you always know, ceiling cat is watching you. We don't care if they came.
                </li>
                <li>Thou shalt not defile the moe. Everything is moe. Those that are considered "not moe" does not exist&mdash;it
                    is only a product of one's fickle mind.
                </li>
                <li>Thou shalt not speak badly of PHP. <strong>Fatal error: T_PAAMAYIM_NEKUDOTAYIM.</strong></li>
            </ul>
            <p>If you do not agree to the above terms and conditions, might as well pack your things and leave your
                house quick. Real quick. We might send in some Tesla troopers to zap you up to your last voltage running
                throughout your networks, and you will bleed from all of your body's orifices (no love juice, srsly). We
                mean it. It would be a excruciatingly painful experience you will get.</p>

            <p>Else if you agree, you may use any of InformHer's explicitly provided services, as long as you keep good
                manners and right conduct (they taught you that in school, after all) among other persons in
                InformHer.</p>

            <p>We hope you have a meaningful experience using InformHer! :D</p>
            <button class="button button-block button-positive" ng-click="closeModal()">OK</button>
        </ion-content>
    </div>
</script>
<script id="modals/ask.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-dark">
            <h1 class="title">Ask</h1>
        </header>
        <ion-content has-header="true">
            <ul class="list">
                <li class="item item-input item-stacked-label">
                    <span class="input-label">Title {{input.title}}</span>
                    <input ng-model="input.title" type="text" placeholder="Title">
                </li>

                <li class="item item-input item-stacked-label informher-tags-input">
                    <span class="input-label">Tags</span>
                    <div class="informher-tags-list">
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('education')">education</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('health')">health</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('abuse')">abuse</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('government')">government</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('news')">news</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('moe')">moe</button>
                    </div>
                    <label class="item item-input">
                        <span ng-repeat="tag in input.tags" class="informher-tags-input-tag">{{tag}}</span>
                        <input type="text" placeholder="Tags">
                    </label>
                </li>

                <li class="item item-input item-stacked-label">
                    <span class="input-label">Content</span>
                    <textarea ng-model="input.content" placeholder="Type your question here"></textarea>
                </li>
            </ul>
            <div class="row">
                <div class="col"><button class="button button-block button-positive" type="button" ng-click="post('ask')">Submit Post</button></div>
                <div class="col"><button class="button button-block" type="button" ng-click="closeModal()">Cancel</button></div>
            </div>
        </ion-content>
    </div>
</script>
<script id="modals/relate.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-dark">
            <h1 class="title">Relate</h1>
        </header>
        <ion-content has-header="true">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Title</span>
                    <input ng-model="input.title" type="text" placeholder="Title">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Tags</span>

                    <div class="tags-input">
                        <ul>
                            <li ng-repeat="tag in tags">{{tag}}</li>
                        </ul>
                        <input type="text" placeholder="Tags">
                    </div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Content</span>
                    <textarea ng-model="input.content" placeholder="Type anything you want to share here"></textarea>
                </label>
            </div>
            <div class="row">
                <div class="col"><button class="button button-block button-positive" type="button" ng-click="post('relate')">Submit Post</button></div>
                <div class="col"><button class="button button-block" type="button" ng-click="closeModal()">Cancel</button></div>
            </div>
        </content>
    </div>
</script>
<script id="modals/shoutout.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-dark">
            <h1 class="title">Shoutout</h1>
        </header>
        <ion-content has-header="true">
            <ul class="list">
                <li class="item item-input item-stacked-label">
                    <span class="input-label">Describe the nature of your report</span>

                    <div class="tags-input">
                        <ul>
                            <li ng-repeat="tag in tags">{{tag}}</li>
                        </ul>
                        <input type="text" placeholder="Tags">
                    </div>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="trackLocation">
                    </label>
                    I want InformHer to know my current location
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="contact"
                               ng-click="immediateContact = contact &amp;&amp; immediateContact">
                    </label>
                    I want InformHer to get in touch regarding my report
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="immediateContact"
                               ng-checked="contact &amp;&amp; immediateContact" ng-disabled="!contact">
                    </label>
                    I want InformHer to contact me immediately
                </li>
            </ul>
            <div class="row">
                <div class="col"><button class="button button-block button-positive" type="button" ng-click="post('shoutout')">Submit Post</button></div>
                <div class="col"><button class="button button-block" type="button" ng-click="closeModal()">Cancel</button></div>
            </div>
        </ion-content>
    </div>
</script>

</body>
</html>
