<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>InformHer</title>

    <!-- ionic css -->
    <link href="lib/css/ionic.css" rel="stylesheet">

    <!-- your app's css -->
    <link href="css/app.css" rel="stylesheet">

    <!-- core app scripts -->
    <script src="lib/js/underscore/underscore-min.js"></script>

    <!-- angularjs scripts -->
    <script src="lib/js/ionic.bundle.min.js"></script>
    <!-- <script src="lib/js/ionic.js"></script>
    <script src="lib/js/angular/angular.js"></script>
    <script src="lib/js/angular/angular-animate.js"></script> -->
    <script src="lib/js/angular/angular-sanitize.js"></script>
    <!-- <script src="lib/js/angular-ui/angular-ui-router.js"></script> -->
    <script src="lib/js/angular-translate/angular-translate.js"></script>
    <!-- <script src="lib/js/ionic-angular.js"></script> -->

    <!-- cordova script -->
    <!-- <script src="cordova.js"></script> -->

    <!-- your app's script -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
</head>

<!--
  'starter' is the name of this angular module (js/app.js)
-->
<body ng-app="informher" ng-controller="SessionCtrl" animation="slide-left-right-ios7">
<!--
  The nav bar that will be updated as we navigate between views
  Additional attributes set its look, nav-bar animation and icons
  Icons provided by Ionicons: http://ionicons.com/
-->

<ion-side-menus>
    <!-- Center content -->
    <ion-pane ion-side-menu-content drag-content="false">
        <!--
        <ion-nav-bar animation="nav-title-slide-ios7"
                     type="bar-dark"
                     back-button-type="button-icon"
                     back-button-icon="ion-arrow-left-c"></ion-nav-bar>-->

        <!-- where the initial view template will be rendered -->
        <ion-nav-view animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <!-- Left menu -->
    <ion-side-menu side="left" id="sidemenuProfile">
        <div class="bar bar-header bar-dark item-input-inset">
            <h2 class="title">{{ 'YOU' | translate }}</h2>
        </div>
        <ion-content has-header="true">
            <div class="list">
                <div class="item item-text-wrap item-thumbnail-left">
                    <img class="avatar-author" ng-src="{{currentUser.avatar_url}}" alt="{{currentUser.username}}" />
                    <h2><a href="#/profile/{{currentUser.user_id}}">{{currentUser.username}}</a></h2>
                    <p>Joined <time>{{currentUser.created_at}}</time></p>
                </div>
                <a class="item" ng-controller="AuthCtrl" ng-click="doAuth('logout')">
                    {{ 'LOGOUT' | translate }}
                </a>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>

<!--== PAGES ==-->

<script id="pages/home.html" type="text/ng-template">
    <ion-nav-page id="pageHome">
        <ion-content has-footer="true">
            <div class="padding">
                <img src="img/informher-banner-with-icon.png" alt="{{ '_APP_ID' | translate }}" class="full-image" />
            </div>

            <div class="row">
                <div class="col"><a class="button button-block button-positive" href="#/auth/login">{{ 'LOGIN' | translate }}</a></div>
                <div class="col"><a class="button button-block button-positive" href="#/auth/register">{{ 'REGISTER' | translate }}</a></div>
            </div>
        </ion-content>
        <ion-footer-bar type="padding-horizontal" id="informher-language-list">
            <a class="button button-clear" href="#/settings/language"><i class="icon ion-ios7-world"></i> {{ 'LANGUAGE' | translate }}</a>
        </ion-footer-bar>
    </ion-nav-page>
</script>
<script id="pages/auth/login.html" type="text/ng-template">
    <ion-nav-page id="pageLogin">
        <div class="bar bar-header bar-dark">
            <button class="button button-icon" ng-click="goBack()"><i class="icon ion-arrow-left-c"></i></button>
            <h1 class="title">{{ 'LOGIN' | translate }}</h1>
        </div>
        <ion-content has-header="true">
            <div class="padding">
                <h1>{{ 'LOGIN' | translate }}</h1>
            </div>

            <div class="card" ng-hide="!message.displayed">
                <div class="item item-divider {{message.title.color.bg}}-bg {{message.title.color.bg}}-border {{message.title.color.fg}}">
                    {{ message.title.content }}
                </div>
                <div class="item item-text-wrap {{message.title.color.bg}}-border">
                    <p>{{ message.body.content }}</p>
                </div>
            </div>

            <ul class="list">
                <li class="item item-input">
                    <span class="input-label">{{ 'USERNAME' | translate }}</span>
                    <input ng-model="input.username" type="text" placeholder="{{ 'USERNAME' | translate }}">
                </li>
                <li class="item item-input">
                    <span class="input-label">{{ 'PASSWORD' | translate }}</span>
                    <input ng-model="input.password" type="password" placeholder="{{ 'PASSWORD' | translate }}">
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input ng-model="input.remember" type="checkbox">
                    </label>
                    {{ 'REMEMBER_ME' | translate }}
                </li>
                <li class="item">
                    <a href="">{{ 'FORGOT_PASSWORD' | translate }}</a>
                </li>
            </ul>
            <div class="row">
                <div class="col"><button class="button button-block button-positive" type="button" ng-click="doAuth('login')">{{ 'LOGIN' | translate }}</button></div>
                <div class="col"><button class="button button-block" type="button" ng-click="goBack()">{{ 'BACK' | translate }}</button></div>
            </div>
        </ion-content>
    </ion-nav-page>
</script>
<script id="pages/auth/register.html" type="text/ng-template">
    <ion-nav-page id="pageRegister">
        <div class="bar bar-header bar-dark">
            <button class="button button-icon" ng-click="goBack()"><i class="icon ion-arrow-left-c"></i></button>
            <h1 class="title">{{ 'REGISTER' | translate }}</h1>
        </div>
        <ion-content has-header="true">
            <div class="padding">
                <h1>{{ 'REGISTER' | translate }}</h1>
            </div>

            <div class="card" ng-hide="!message.displayed">
                <div class="item item-divider {{message.title.color.bg}}-bg {{message.title.color.bg}}-border {{message.title.color.fg}}">
                    {{ message.title.content }}
                </div>
                <div class="item item-text-wrap {{message.title.color.bg}}-border">
                    <p>{{ message.body.content }}</p>
                </div>
            </div>

            <ul class="list" ng-hide="registrationSuccessful">
                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'USERNAME' | translate }}</span>
                    <input ng-model="input.username" type="text" placeholder="{{ 'USERNAME' | translate }}">
                </li>
                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'EMAIL_ADDRESS' | translate }}</span>
                    <input ng-model="input.email" type="email" placeholder="{{ 'EMAIL_ADDRESS' | translate }}">
                </li>
                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'PASSWORD' | translate }}</span>
                    <input ng-model="input.password" type="password" placeholder="{{ 'PASSWORD' | translate }}">
                </li>
                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'CONFIRM_PASSWORD' | translate }}</span>
                    <input ng-model="input.passwordConfirmation" type="password" placeholder="{{ 'CONFIRM_PASSWORD' | translate }}">
                </li>
                <li class="item item-checkbox item-text-wrap">
                    <label class="checkbox">
                        <input ng-model="input.agree" type="checkbox">
                    </label>
                    {{ 'TERMS_OF_USE_PRE' | translate }}<a href="" ng-click="openTouModal()">{{ 'TERMS_OF_USE' | translate }}</a>{{ 'TERMS_OF_USE_POST' | translate }}
                </li>
            </ul>

            <div class="row">
                <div class="col" ng-hide="registrationSuccessful">
                    <button class="button button-block button-positive" type="button" ng-click="doAuth('register')" ng-disabled="!input.agree">{{ 'REGISTER' | translate }}</button>
                </div>
                <div class="col" ng-hide="registrationSuccessful">
                    <button class="button button-block" type="button" ng-click="goBack()">{{ 'BACK' | translate }}</button>
                </div>
                <div class="col" ng-hide="!registrationSuccessful">
                    <a class="button button-positive button-block" ng-click="goBack()">{{ 'BACK' | translate }}</a>
                </div>
            </div>
            <div class="padding-horizontal">
                <div ng-hide="registrationSuccessful">

                </div>

            </div>
        </ion-content>
    </ion-nav-page>
</script>

<script id="pages/stream.html" type="text/ng-template">
    <ion-nav-page id="pageStream">
        <div class="bar bar-header bar-dark item-input-inset">
            <button class="button button-icon" ng-click="toggleLeft()"><i class="icon ion-navicon"></i></button>
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="{{ 'SEARCH' | translate }}">
            </label>
            <a class="button button-clear" href="#/settings/main"><i class="icon ion-gear-a"></i></a>
        </div>
        <div class="bar bar-subheader">
            <button class="button button-outline button-energized" ng-click="toggleFilter('ask')" ng-class="filterCriteria.ask ? 'active' : ''"><i class="icon ion-help-circled"></i></button>
            <button class="button button-energized" ng-click="openModal('modalAsk')"><i class="icon ion-plus"></i></button>
            <button class="button button-outline button-balanced" ng-click="toggleFilter('relate')" ng-class="filterCriteria.relate ? 'active' : ''"><i class="icon ion-information-circled"></i></button>
            <button class="button button-balanced" ng-click="openModal('modalRelate')"><i class="icon ion-plus"></i></button>
            <button class="button button-outline button-positive" ng-click="toggleFilter('shoutout')" ng-class="filterCriteria.shoutout ? 'active' : ''"><i class="icon ion-chatbox-working"></i></button>
            <button class="button button-positive"  ng-click="openModal('modalShoutout')"><i class="icon ion-plus"></i></button>
            <button class="button button-clear button-dark" ng-click="flipFilter()"><i class="icon ion-contrast"></i></button>
        </div>
        <!-- <ion-content has-header="true" has-subheader="true" has-footer="true" scroll="true" on-refresh="onRefresh()"> -->
        <ion-content has-header="true" has-subheader="true" scroll="true" on-refresh="onRefresh()">
            <ion-list>
                <a ng-repeat="post in posts" class="item item-avatar informher-stream-item-meta" href="#/stream/view/{{post.id}}" ng-hide="!post.visible">
                    <img class="avatar-author" ng-src="{{post.author.profile.avatar_url}}" alt="{{post.author.username}}" />
                    <strong class="informher-{{post.category.name}} informher-category-tag">{{post.category.name}}</strong>
                    <h2>{{post.title}}</h2>
                    <p>{{post.author.username}} &middot; <time>{{post.created_at}}</time> &middot; {{post.comments_count}} <i class="icon ion-chatbox"></i> &middot; {{post.likers}} <i class="icon ion-thumbsup"></i> </p>
                </a>
            </ion-list>
            <ion-scroll-refresher>
                <i class="icon ion-loading-a"></i>
            </ion-scroll-refresher>
        </ion-content>
        <!--
        <div class="bar bar-footer">
            <div class="button-bar">
                <button class="button icon-left">Title</button>
                <button class="button icon-left">Author</button>
                <button class="button icon-left icon ion-arrow-down-a">Date</button>
            </div>
        </div>
        -->
    </ion-nav-page>
</script>

<script id="pages/post.html" type="text/ng-template">
    <ion-nav-page id="pagePost">
        <div class="bar bar-header bar-dark item-input-inset">
            <button class="button button-icon" ng-click="goBack()"><i class="icon ion-arrow-left-c"></i></button>
            <h1 class="title">{{ 'POST' | translate }} &mdash; {{ 'VIEW' | translate }}</h1>
        </div>
        <ion-content has-header="true" has-footer="true" on-refresh="onRefresh()">
            <div class="list">
                <div class="item item-text-wrap item-thumbnail-left informher-stream-item-meta">
                    <img class="avatar-author" ng-src="{{post.author.profile.avatar_url}}" alt="{{post.author.username}}" />
                    <strong class="informher-{{post.category.name}} informher-category-tag">{{post.category.name}}</strong>
                    <h2>{{post.title}}</h2>
                    <p><a href="#/profile/{{post.author.id}}">{{post.author.username}}</a> &middot; <time>{{post.created_at}}</time></p>
                    <button class="button icon-left button-small ion-thumbsup" ng-click="likePost()">{{ 'LIKE' | translate}} ({{post.likers}})</button>
                    <button class="button icon-left button-small ion-compose" ng-click="edit()">{{ 'EDIT' | translate }}</button>
                </div>
                <div class="item item-text-wrap informher-post-tags">
                    Tags:
                    <a class="informher-post-tag" ng-repeat="tag in post.tags" href="#/stream/tag/{{tag.id}}">{{tag.tagname}}</a>
                </div>
                <div class="item item-text-wrap">
                    {{post.content}}
                </div>
                <div class="item item-divider">
                    {{ 'COMMENTS' | translate }}
                </div>
                <div class="item item-avatar item-text-wrap">
                    <img class="avatar-author" ng-src="{{user.avatar_url}}" alt="{{user.username}}" />
                    <textarea ng-model="input.message" placeholder="{{ 'TAP_TO_BEGIN_WRITING' | translate }}"></textarea>
                    <button class="button button-small button-positive" ng-click="addComment()">{{ 'SUBMIT' | translate }}</button>
                </div>
                <div ng-repeat="comment in post.comments" class="item item-text-wrap item-avatar informher-comment-item">
                    <img class="avatar-author" ng-src="{{comment.author.profile.avatar_url}}" alt="{{comment.author.username}}" />
                    <h3><a href="#/profile/{{comment.author.id}}">{{comment.author.username}}</a></h3>
                    <time class="timestamp">{{comment.created_at}}</time>
                    <p>{{comment.message}}</p>
                    <button class="button button-clear button-small icon-left ion-thumbsup informher-btn-like"  ng-click="likeComment(comment.id)">{{ 'LIKE' | translate }} ({{comment.likers}})</button>
                </div>
            </div>
            <ion-scroll-refresher>
                <i class="icon ion-loading-a"></i>
            </ion-scroll-refresher>
        </ion-content>
    </ion-nav-page>
</script>

<script id="pages/profile.html" type="text/ng-template">
    <ion-nav-page id="pageProfile">
        <div class="bar bar-header bar-dark item-input-inset">
            <button class="button button-icon" ng-click="goBack()"><i class="icon ion-arrow-left-c"></i></button>
            <h1 class="title">{{ 'VIEWING_PROFILE' | translate }} &mdash; {{user.username}}</h1>
        </div>
        <ion-content has-header="true" has-footer="true">
            <ul class="list">
                <li class="item item-image">
                    <img class="full-image" ng-src="{{user.avatar_url}}" alt="{{user.username}}">
                </li>
                <li class="item item-input">
                    <span class="input-label">{{ 'USERNAME' | translate }}</span>
                    <input ng-model="user.username" type="text" disabled>
                </li>
                <li class="item item-input">
                    <span class="input-label">{{ 'REGISTERED' | translate }}</span>
                    <input ng-model="user.created_at" type="date" disabled>
                </li>
                <li class="item item-input">
                    <span class="input-label">{{ 'BADGE' | translate }}</span>
                    <input ng-model="user.badge" type="text" disabled>
                </li>
                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'BIO' | translate }}</span>
                    <textarea ng-model="user.bio" placeholder="{{ 'TELL_SOMETHING_ABOUT_YOUR_LIFE' | translate }}"
                              ng-disabled="!isEditMode"></textarea>
                </li>
                <li class="item item-divider">
                    {{ 'CONTACT_INFORMATION' | translate }}
                </li>
                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'EMAIL_ADDRESS' | translate }}</span>
                    <input ng-model="user.email_address" type="email" placeholder="{{ 'EMAIL_ADDRESS' | translate }}" ng-disabled="!isEditMode">
                </li>
                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'FACEBOOK_URL' | translate }}</span>
                    <label class="item item-input">
                        www.facebook.com/
                        <input ng-model="user.facebook_username" type="text" placeholder="{{ 'FACEBOOK_URL' | translate }}" ng-disabled="!isEditMode">
                    </label>
                </li>
                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'TWITTER_HANDLE' | translate }}</span>
                    <label class="item item-input">
                        <i class="icon ion-at placeholder-icon"></i>
                        <input ng-model="user.twt_handle" type="text" placeholder="{{ 'TWITTER_HANDLE' | translate }}" ng-disabled="!isEditMode">
                    </label>
                </li>
                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'WEBSITE_URL' | translate }}</span>
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input ng-model="user.hompage_url" type="url" ng-disabled="!isEditMode" placeholder="{{ 'WEBSITE_URL' | translate }}">
                    </label>
                </li>

            </ul>
            <div class="row" ng-hide="!isEditMode">
                <div class="col"><button class="button button-block button-positive" type="button" ng-click="save()">{{ 'SAVE' | translate }}</button></div>
                <div class="col"><button class="button button-block" type="button" ng-click="cancel()">{{ 'CANCEL' | translate }}</button></div>
            </div>
            <div class="row" ng-hide="isEditMode">
                <div class="col" ng-hide="currentUser.id != user.user_id"><button class="button button-block button-positive" type="button" ng-click="editMode()">{{ 'EDIT' | translate }}</button></div>
                <div class="col"><button class="button button-block" type="button" ng-click="goBack()">{{ 'BACK' | translate }}</button></div>
            </div>
        </ion-content>
    </ion-nav-page>
</script>

<!--== MENUS ==-->
<script id="menus/settings.html" type="text/ng-template">
    <div class="bar bar-header bar-dark">
        <button class="button button-icon" ng-click="goBack()"><i class="icon ion-arrow-left-c"></i></button>
        <h1 class="title">{{ 'SETTINGS' | translate }}</h1>
    </div>
    <ion-content has-header="true">
        <div class="list">
            <div class="item item-divider">{{ 'ACCOUNT' | translate }}</div>
            <div class="item item-toggle">
                {{ 'TRACK_MY_LOCATION' | translate }}
                <label class="toggle">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item item-divider">{{ 'STREAM' | translate }}</div>
            <a class="item" href="#/settings/language">
                Language
                <span class="item-note">{{ '_LANGUAGE_ID' | translate }}</span>
            </a>
            <!--
            <div class="item item-divider">{{ 'DEFAULT_SORT' | translate }}</div>
            <label class="item item-radio">
                <input type="radio" name="sort">
                <div class="item-content">
                    {{ 'TITLE_ASCENDING' }}
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="sort">
                <div class="item-content">
                    {{ 'TITLE_DESCENDING' }}
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="sort">
                <div class="item-content">
                    {{ 'AUTHOR_ASCENDING' }}
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="sort">
                <div class="item-content">
                    {{ 'AUTHOR_DESCENDING' }}
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="sort">
                <div class="item-content">
                    {{ 'DATE_RECENT' }}
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="sort">
                <div class="item-content">
                    {{ 'DATE_OLDER' }}
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            -->
        </div>
    </ion-content>
</script>

<script id="menus/language.html" type="text/ng-template">
    <div class="bar bar-header bar-dark">
        <button class="button button-icon" ng-click="goBack()"><i class="icon ion-arrow-left-c"></i></button>
        <h1 class="title">{{ 'LANGUAGE' | translate }}</h1>
    </div>
    <ion-content has-header="true">
        <div class="list">
            <label class="item item-radio">
                <input type="radio" name="lang" ng-checked="language == 'en-PH'" ng-click="setLanguage('en-PH')">
                <div class="item-content">English</div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="lang" ng-checked="language == 'tl-PH'" ng-click="setLanguage('tl-PH')">
                <div class="item-content">Tagalog</div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>
    </ion-content>
</script>

<!--== MODALS ==-->

<script id="modals/tos.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-dark">
            <h1 class="title">{{ 'TERMS_OF_SERVICE' | translate }}</h1>
        </header>
        <ion-content has-header="true" padding="true">
            <ul class="informher-terms-of-service list">
                <li class="item item-text-wrap">Please read these Terms of Use carefully before using the services offered by informher. This Agreement sets forth the legally binding terms and conditions for your use of the application. By using the service in any manner, including, but not limited to, browsing the application or contributing content, information, or other materials or services to the application, you agree to be bound by this Agreement.</li>
                <li class="item item-divider">Terms</li>
                <li class="item item-text-wrap">You must be at least 13 years old to use the Service.</li>
                <li class="item item-text-wrap">InformHer’s content may be copied, reproduced, republished, uploaded, posted, transmitted, distributed, or used for the creation of derivative works without the author’s prior written consent.</li>
                <li class="item item-text-wrap">You may not post violent, nude, partially nude, discriminatory, unlawful, infringing, hateful, pornographic or sexually suggestive photos or other content via the Service.</li>
                <li class="item item-text-wrap">You may not create an account for anyone other than yourself. You also represent that all information you provide or provided to InformHer upon registration and at all other times will be true, accurate, current and complete and you agree to update your information as necessary to maintain its truth and accuracy.</li>
                <li class="item item-text-wrap">You agree that you will not solicit, collect or use the login credentials of other InformHer users.</li>
                <li class="item item-text-wrap">You are responsible for keeping your password secret and secure.</li>
                <li class="item item-text-wrap">You must not defame, stalk, bully, abuse, harass, threaten, impersonate or intimidate people or entities and you must not post private or confidential information.</li>
                <li class="item item-text-wrap">You may not use the service for any illegal or unauthorized purpose.</li>
                <li class="item item-text-wrap">You are solely responsible for your conduct and any data, text, files, information, usernames, images, graphics, photos, profiles, audio and video clips, sounds, musical works, works of authorship, applications, links and other content or materials you submit, post or display.</li>
                <li class="item item-text-wrap">You must not create or submit unwanted email, comments, likes or other forms of commercial or harassing communications to any InformHer users.</li>
                <li class="item item-text-wrap">You must not attempt to restrict another user from using or enjoying the Service and you must not encourage or facilitate violations of these Terms of Use.</li>
                <li class="item item-text-wrap">Violation of these Terms of Use may, in InformHer sole discretion, result in termination of your account.</li>
            </ul>

            <button class="button button-block button-positive" ng-click="closeModal()">{{ 'OK' | translate }}</button>
        </ion-content>
    </div>
</script>
<script id="modals/ask.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-dark">
            <h1 class="title">{{ 'ASK' | translate }}</h1>
        </header>
        <ion-content has-header="true">
            <ul class="list">
                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'TITLE' | translate }}</span>
                    <input ng-model="input.title" type="text" placeholder="{{ 'TITLE' | translate }}">
                </li>

                <li class="item item-input item-stacked-label informher-tags-input">
                    <span class="input-label">{{ 'TAGS' | translate }}</span>
                    <div class="informher-tags-list">
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('education')">education</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('health')">health</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('abuse')">abuse</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('government')">government</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('news')">news</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('moe')">moe</button>
                    </div>
                    <label class="item item-input">
                        <span ng-repeat="tag in input.tags" class="informher-tags-input-tag">{{tag}}</span>
                        <input type="text" placeholder="{{ 'TAG' | translate }}">
                    </label>
                </li>

                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'CONTENT' | translate }}</span>
                    <textarea ng-model="input.content" placeholder="{{ 'TYPE_YOUR_QUESTION_HERE' | translate }}"></textarea>
                </li>
            </ul>
            <div class="row">
                <div class="col"><button class="button button-block button-positive" type="button" ng-click="post('ask')">{{ 'SUBMIT' | translate }}</button></div>
                <div class="col"><button class="button button-block" type="button" ng-click="closeModal()">{{ 'CANCEL' | translate }}</button></div>
            </div>
        </ion-content>
    </div>
</script>
<script id="modals/relate.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-dark">
            <h1 class="title">{{ 'RELATE' | translate }}</h1>
        </header>
        <ion-content has-header="true">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'TITLE' | translate }}</span>
                    <input ng-model="input.title" type="text" placeholder="{{ 'TITLE' | translate }}">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'TAGS' | translate }}</span>
                    <div class="informher-tags-list">
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('education')">education</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('health')">health</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('abuse')">abuse</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('government')">government</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('news')">news</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('moe')">moe</button>
                    </div>
                    <label class="item item-input">
                        <span ng-repeat="tag in input.tags" class="informher-tags-input-tag">{{tag}}</span>
                        <input type="text" placeholder="{{ 'TAGS' | translate }}">
                    </label>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'CONTENT' | translate }}</span>
                    <textarea ng-model="input.content" placeholder="{{ 'ANYTHING_YOU_WANT_TO_SHARE_HERE' | translate }}"></textarea>
                </label>
            </div>
            <div class="row">
                <div class="col"><button class="button button-block button-positive" type="button" ng-click="post('relate')">{{ 'SUBMIT' | translate }}</button></div>
                <div class="col"><button class="button button-block" type="button" ng-click="closeModal()">{{ 'CANCEL' | translate }}</button></div>
            </div>
        </content>
    </div>
</script>
<script id="modals/shoutout.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-dark">
            <h1 class="title">{{ 'SHOUTOUT' | translate }}</h1>
        </header>
        <ion-content has-header="true">
            <ul class="list">
                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'NATURE_OF_YOUR_REPORT' | translate }}</span>

                    <div class="informher-tags-list">
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('education')">education</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('health')">health</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('abuse')">abuse</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('government')">government</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('news')">news</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('moe')">moe</button>
                    </div>
                    <label class="item item-input">
                        <span ng-repeat="tag in input.tags" class="informher-tags-input-tag">{{tag}}</span>
                        <input type="text" placeholder="{{ 'TAGS' | translate }}">
                    </label>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="trackLocation">
                    </label>
                    {{ 'KNOW_MY_CURRENT_LOCATION' | translate }}
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="contact"
                               ng-click="immediateContact = contact &amp;&amp; immediateContact">
                    </label>
                    {{ 'CONTACT_ME' | translate }}
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="immediateContact"
                               ng-checked="contact &amp;&amp; immediateContact" ng-disabled="!contact">
                    </label>
                    {{ 'CONTACT_ME_IMMEDIATELY' | translate }}
                </li>
            </ul>
            <div class="row">
                <div class="col"><button class="button button-block button-positive" type="button" ng-click="post('shoutout')">{{ 'SUBMIT' | translate }}</button></div>
                <div class="col"><button class="button button-block" type="button" ng-click="closeModal()">{{ 'CANCEL' | translate }}</button></div>
            </div>
        </ion-content>
    </div>
</script>

</body>
</html>
