<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>InformHer</title>

    <!-- ionic css -->
    <link href="lib/css/ionic.css" rel="stylesheet">

    <link href="lib/css/leaflet.css" rel="stylesheet">

    <!-- your app's css -->
    <link href="css/app.css" rel="stylesheet">

    <!-- core app scripts -->
    <script src="lib/js/underscore/underscore-min.js"></script>
    <script src="lib/js/underscore/underscore.string.min.js"></script>

    <!-- angularjs scripts -->
    <script src="lib/js/ionic.bundle.js"></script>
    <script src="lib/js/angular/angular-sanitize.js"></script>
    <script src="lib/js/angular-translate/angular-translate.js"></script>
    <script src="lib/js/angular-geolocation/angular-geolocation.min.js"></script>
    <script src="lib/js/angular-cache/angular-cache-2.3.3.min.js"></script>

    <script src="lib/js/leaflet/leaflet.js"></script>

    <!-- cordova script -->
    <!-- <script src="cordova.js"></script> -->

    <!-- your app's script -->
    <script src="js/app.js"></script>
    <script src="js/services.auth.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
</head>

<!--
  'starter' is the name of this angular module (js/app.js)
-->
<body ng-app="informher" ng-controller="SessionCtrl" animation="slide-left-right-ios7">
<!--
  The nav bar that will be updated as we navigate between views
  Additional attributes set its look, nav-bar animation and icons
  Icons provided by Ionicons: http://ionicons.com/
-->

<ion-side-menus>
    <!-- Center content -->
    <ion-pane ion-side-menu-content drag-content="false">
        <!--
        <ion-nav-bar animation="nav-title-slide-ios7"
                     type="bar-dark"
                     back-button-type="button-icon"
                     back-button-icon="ion-arrow-left-c"></ion-nav-bar>-->

        <!-- where the initial view template will be rendered -->
        <ion-nav-view animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <!-- Left menu -->
    <ion-side-menu side="left" id="sidemenuProfile">
        <div class="bar bar-header bar-dark item-input-inset">
            <h2 class="title">{{ 'YOU' | translate }}</h2>
        </div>
        <ion-content has-header="true">
            <div class="card">
                <div class="item item-text-wrap item-thumbnail-left">
                    <img class="avatar-author" ng-src="{{currentUser.avatar_url}}" alt="{{currentUser.username}}" />
                    <h2><a href="#/profile/{{currentUser.user_id}}">{{currentUser.username}}</a></h2>
                    <p><i class="icon ion-thumbsup"></i></p>
                </div>

                <!--
                <a class="item">
                    <span class="input-label">{{ 'POSTS' | translate }}</span>
                    <span class="badge badge-royal">{{currentUser.posts.ask.length}}</span>
                </a>
                <a class="item">
                    <span class="input-label">{{ 'COMMENTS' | translate }}</span>
                    <span class="badge badge-royal">{{currentUser.posts.ask.length}}</span>
                </a>
                -->
            </div>

            <div class="list">
                <a class="item">
                    {{ 'HELP' | translate }}
                </a>
                <a class="item" ng-controller="AuthCtrl" ng-click="doAuth('logout')">
                    {{ 'LOGOUT' | translate }}
                </a>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>

<!--== PAGES ==-->

<script id="pages/home.html" type="text/ng-template">
    <ion-nav-page id="pageHome">
        <ion-content has-footer="true" scroll="false" class="informher-home-content">
            <div class="row row-center">
                <div class="col">
                    <div class="padding">
                        <img src="img/informher-banner-with-icon.png" alt="{{ '_APP_ID' | translate }}" class="full-image informher-logo" />
                    </div>
                    <div class="row">
                        <div class="col"><a class="button button-block button-dark" href="#/auth/login">{{ 'LOGIN' | translate }}</a></div>
                        <div class="col"><a class="button button-block button-dark" href="#/auth/register">{{ 'REGISTER' | translate }}</a></div>
                    </div>
                </div>
            </div>
        </ion-content>
        <ion-footer-bar type="padding-horizontal" id="informher-language-list">
            <a class="button button-clear" href="#/settings/language"><i class="icon ion-ios7-world"></i> {{ 'LANGUAGE' | translate }}</a>
        </ion-footer-bar>
    </ion-nav-page>
</script>
<script id="pages/auth/login.html" type="text/ng-template">
    <ion-nav-page id="pageLogin">
        <div class="bar bar-header bar-dark">
            <button class="button button-icon" ng-click="goBack()"><i class="icon ion-arrow-left-c"></i></button>
            <h1 class="title">{{ 'LOGIN' | translate }}</h1>
        </div>
        <ion-content has-header="true">
            <div class="padding">
                <h1>{{ 'LOGIN' | translate }}</h1>
            </div>

            <ul class="list">
                <li class="item item-input">
                    <span class="input-label">{{ 'USERNAME' | translate }}</span>
                    <input ng-model="input.username" type="text" placeholder="{{ 'USERNAME' | translate }}">
                </li>
                <li class="item item-input">
                    <span class="input-label">{{ 'PASSWORD' | translate }}</span>
                    <input ng-model="input.password" type="password" placeholder="{{ 'PASSWORD' | translate }}">
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input ng-model="input.remember" type="checkbox">
                    </label>
                    {{ 'REMEMBER_ME' | translate }}
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input ng-model="trackLocation" type="checkbox" ng-click="toggleTracking()">
                    </label>
                    {{ 'TRACK_MY_LOCATION' | translate }}
                </li>
                <li class="item">
                    <a href="">{{ 'FORGOT_PASSWORD' | translate }}</a>
                </li>
            </ul>
            <div class="row">
                <div class="col"><button class="button button-block button-dark" type="button" ng-click="doAuth('login')">{{ 'LOGIN' | translate }}</button></div>
                <div class="col"><button class="button button-block" type="button" ng-click="goBack()">{{ 'BACK' | translate }}</button></div>
            </div>
        </ion-content>
    </ion-nav-page>
</script>
<script id="pages/auth/register.html" type="text/ng-template">
    <ion-nav-page id="pageRegister">
        <div class="bar bar-header bar-dark">
            <button class="button button-icon" ng-click="goBack()"><i class="icon ion-arrow-left-c"></i></button>
            <h1 class="title">{{ 'REGISTER' | translate }}</h1>
        </div>
        <ion-content has-header="true">
            <div class="padding">
                <h1>{{ 'REGISTER' | translate }}</h1>
            </div>

            <ul class="list" ng-hide="registrationSuccessful">
                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'USERNAME' | translate }}</span>
                    <input ng-model="input.usernameRegister" type="text" placeholder="{{ 'USERNAME' | translate }}">
                </li>
                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'EMAIL_ADDRESS' | translate }}</span>
                    <input ng-model="input.email" type="email" placeholder="{{ 'EMAIL_ADDRESS' | translate }}">
                </li>
                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'PASSWORD' | translate }}</span>
                    <input ng-model="input.passwordRegister" type="password" placeholder="{{ 'PASSWORD' | translate }}">
                </li>
                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'CONFIRM_PASSWORD' | translate }}</span>
                    <input ng-model="input.passwordConfirmation" type="password" placeholder="{{ 'CONFIRM_PASSWORD' | translate }}">
                </li>
                <li class="item item-checkbox item-text-wrap">
                    <label class="checkbox">
                        <input ng-model="input.agree" type="checkbox">
                    </label>
                    {{ 'TERMS_OF_USE_PRE' | translate }}<a href="" ng-click="openTouModal()">{{ 'TERMS_OF_USE' | translate }}</a>{{ 'TERMS_OF_USE_POST' | translate }}
                </li>
            </ul>

            <div class="row">
                <div class="col">
                    <button class="button button-block button-dark" type="button" ng-click="doAuth('register')" ng-disabled="!input.agree">{{ 'REGISTER' | translate }}</button>
                </div>
                <div class="col">
                    <button class="button button-block" type="button" ng-click="goBack()">{{ 'BACK' | translate }}</button>
                </div>
            </div>
        </ion-content>
    </ion-nav-page>
</script>

<script id="pages/stream.html" type="text/ng-template">
    <ion-nav-page id="pageStream">
        <div class="bar bar-header bar-dark">
            <button class="button button-icon" ng-click="toggleLeft()"><i class="icon ion-navicon"></i></button>
            <h1 class="title">{{ 'STREAM' | translate }}</h1>
            <a class="button button-clear" href="#/settings/main"><i class="icon ion-gear-a"></i></a>
        </div>
        <ion-content has-header="true" has-tabs="true" scroll="true" on-refresh="onRefresh()">
            <ion-list>
                <a ng-repeat="post in posts" class="item item-avatar informher-stream-item-meta" href="#/stream/view/{{post.id}}" ng-hide="!post.visible">
                    <img class="avatar-author" ng-src="{{post.author.profile.avatar_url}}" alt="{{post.author.username}}" />
                    <strong class="informher-{{post.category.name}} informher-category-tag">{{ post.category.name.toUpperCase() + '_LOWERCASE' | translate }}</strong>
                    <h2>{{post.title}}</h2>
                    <p>{{post.author.username}} &middot; <time>{{post.created_at}}</time> &middot; {{post.comments_count}} <i class="icon ion-chatbox"></i> &middot; {{post.likers}} <i class="icon ion-thumbsup"></i> </p>
                </a>
                <a class="item" href="" ng-click="refreshOlder()" ng-hide="searchMode || prevPage == 0 || prevPage == undefined">
                    {{ 'SHOW_MORE_POSTS' | translate }}
                </a>
                <div class="item" ng-hide="searchMode || prevPage != 0">
                    {{ 'NO_MORE_POSTS' | translate }}
                </div>
            </ion-list>
            <ion-scroll-refresher>
                <i class="icon ion-loading-a"></i>
            </ion-scroll-refresher>
        </ion-content>
        <div class="tabs tabs-icon-top">
            <a class="tab-item" ng-hide="!(isVisible('new-post'))" ng-click="doAction('new-post')">
                <i class="icon ion-plus"></i>
                {{ 'NEW_POST' | translate }}
            </a>
            <a class="tab-item" ng-hide="!(isVisible('filter'))" ng-click="doAction('filter')">
                <i class="icon ion-contrast"></i>
                {{ 'FILTER' | translate }}
            </a>
            <a ng-class="'tab-item energized ' + (inMode('mode:/filter') &amp;&amp; filterCriteria.ask ? 'active' : '')" ng-hide="!(isVisible('ask'))" ng-click="doAction('ask')">
                <i class="icon ion-help-circled"></i>
                {{ 'ASK' | translate }}
            </a>
            <a ng-class="'tab-item balanced ' + (inMode('mode:/filter') &amp;&amp; filterCriteria.relate ? 'active' : '')" ng-hide="!(isVisible('relate'))" ng-click="doAction('relate')">
                <i class="icon ion-information-circled"></i>
                {{ 'RELATE' | translate }}
            </a>
            <a ng-class="'tab-item positive ' + (inMode('mode:/filter') &amp;&amp; filterCriteria.shoutout ? 'active' : '')" ng-hide="!(isVisible('shoutout'))" ng-click="doAction('shoutout')">
                <i class="icon ion-chatbox-working"></i>
                {{ 'SHOUTOUT' | translate }}
            </a>
            <a ng-class="'tab-item royal ' + (inMode('mode:/filter') &amp;&amp; searchMode ? 'active' : '')" ng-hide="!(isVisible('search-results'))" ng-click="doAction('search-results')">
                <i class="icon ion-search"></i>
                {{ 'SEARCH_RESULTS' | translate }}
            </button>
            <a class="tab-item" ng-hide="!(isVisible('search'))" ng-click="doAction('search')">
                <i class="icon ion-search"></i>
                {{ 'SEARCH' | translate }}
            </a>
            <!--
            <a class="tab-item" ng-hide="!(isVisible('approve'))" ng-click="doAction('approve')">
                <i class="icon ion-plus"></i>
                {{ 'APPROVE' | translate }}
            </a>
            -->
            <a class="tab-item" ng-hide="!(isVisible('back'))" ng-click="doAction('back')">
                <i class="icon ion-arrow-return-left"></i>
                {{ 'BACK' | translate }}
            </a>
        </div>
    </ion-nav-page>
</script>
<script id="pages/post.html" type="text/ng-template">
    <ion-nav-page id="pagePost">
        <div class="bar bar-header bar-dark item-input-inset">
            <button class="button button-icon" ng-click="goBack()"><i class="icon ion-arrow-left-c"></i></button>
            <h1 class="title">{{ 'POST' | translate }} &mdash; {{ 'VIEW' | translate }}</h1>
            <button class="button button-small icon-left ion-close button-assertive" ng-click="deleteConfirm('post', post.id)" ng-hide="post.author.id != currentUser.user_id">{{ 'DELETE' | translate }}</button>
        </div>
        <ion-content has-header="true">
            <div class="list">
                <div class="item item-text-wrap item-thumbnail-left informher-stream-item-meta">
                    <img class="avatar-author" ng-src="{{post.author.profile.avatar_url}}" alt="{{post.author.username}}" />
                    <strong class="informher-{{post.category.name}} informher-category-tag">{{ post.category.name.toUpperCase() + '_LOWERCASE' | translate }}</strong>
                    <h2>{{post.title}}</h2>
                    <p><a href="#/profile/{{post.author.id}}">{{post.author.username}}</a> &middot; <time>{{post.created_at}}</time></p>
                    <button ng-click="likePost()" ng-class="'button icon-left ion-thumbsup' + (post.liked ? ' button-royal' : '')">
                        {{ 'LIKE' | translate}} <span ng-hide="post.likers <= 0 || isNaN(post.likers)">({{post.likers}})</span>
                    </button>
                    <button class="button icon-left ion-compose" ng-click="edit()">{{ 'EDIT' | translate }}</button>
                </div>
                <div class="item item-text-wrap informher-post-tags">
                    {{ 'TAGS' | translate }}
                    <a class="informher-post-tag" ng-repeat="tag in post.tags" href="">{{tag.tagname}}</a>
                </div>
                <div class="item item-body item-text-wrap" ng-hide="post.category.name == 'shoutout'">
                    {{ post.content }}
                </div>
                <div class="item item-divider" ng-hide="post.category.name != 'shoutout' || post.email === undefined &amp;&amp; post.mobile === undefined">{{ 'CONTACT' | translate }}</div>
                <div class="item" ng-hide="post.category.name != 'shoutout' || post.email === undefined">
                    <span class="input-label">{{ 'EMAIL_ADDRESS' | translate }}</span>
                    {{ post.email }}
                </div>
                <div class="item" ng-hide="post.category.name != 'shoutout' || post.mobile === undefined">
                    <span class="input-label">{{ 'MOBILE' | translate }}</span>
                    {{ post.mobile }}
                </div>
                <div class="item item-divider" ng-hide="post.category.name != 'shoutout' || post.location === undefined">{{ 'LOCATION' | translate }}</div>
                <div class="item item-image" ng-hide="post.category.name != 'shoutout' || post.location === undefined">
                    <div id="map"></div>
                </div>
                <div class="item item-divider">
                    {{ 'COMMENTS' | translate }}
                </div>
                <div class="item item-avatar item-text-wrap">
                    <img class="avatar-author" ng-src="{{currentUser.avatar_url}}" alt="{{currentUser.username}}" />
                    <textarea ng-model="input.message" placeholder="{{ 'WRITE_COMMENT' | translate }}"></textarea>
                    <button class="button button-block button-dark" ng-click="addComment()">{{ 'SUBMIT' | translate }}</button>
                </div>
                <div ng-repeat="comment in post.comments" class="item item-text-wrap item-avatar informher-comment-item">
                    <img class="avatar-author" ng-src="{{comment.author.profile.avatar_url}}" alt="{{comment.author.username}}" />
                    <h3><a href="#/profile/{{comment.author.id}}">{{comment.author.username}}</a></h3>
                    <time class="timestamp">{{comment.created_at}}</time>
                    <p>{{comment.message}}</p>
                    <button ng-class="'button button-clear button-small icon-left ion-thumbsup informher-btn-like' + (comment.liked ? ' button-royal' : '')" ng-click="likeComment(comment.id)">
                        {{ 'LIKE' | translate }}
                        <span ng-hide="comment.likers <= 0 || isNaN(comment.likers)">({{comment.likers}})</span>
                    </button>
                </div>
                <a class="item" href="" ng-click="refreshOlder()" ng-hide="prevPage == 0 || prevPage === undefined">
                    {{ 'SHOW_MORE_COMMENTS' | translate }}
                </a>
            </div>
        </ion-content>
    </ion-nav-page>
</script>

<script id="pages/profile.html" type="text/ng-template">
    <ion-nav-page id="pageProfile">
        <div class="bar bar-header bar-dark item-input-inset">
            <button class="button button-icon" ng-click="goBack()"><i class="icon ion-arrow-left-c"></i></button>
            <h1 class="title">{{ 'VIEWING_PROFILE' | translate }} &mdash; {{user.username}}</h1>
        </div>
        <ion-content has-header="true">
            <div class="list">
                <div class="item item-text-wrap item-thumbnail-left">
                    <img class="full-image" ng-src="{{user.avatar_url}}" alt="{{user.username}}"/>
                    <h2>{{user.username}}</h2>
                    <p>{{user.badge}} &middot; Joined {{user.created_at}}</p>
                </div>
                <div class="item item-input item-stacked-label" ng-hide="!isEditMode">
                    <span class="input-label">{{ 'BIO' | translate }}</span>
                    <textarea ng-model="user.bio" placeholder="{{ 'TELL_SOMETHING_ABOUT_YOUR_LIFE' | translate }}"></textarea>
                </div>
                <div class="item item-body" ng-hide="isEditMode">
                    <span class="input-label">{{ 'BIO' | translate }}</span>
                    <p>{{user.bio}}</p>
                </div>
                <div class="item item-divider">
                    {{ 'CONTACT_INFORMATION' | translate }}
                </div>
                <div class="item item-input item-stacked-label" ng-hide="!isEditMode">
                    <span class="input-label">{{ 'EMAIL_ADDRESS' | translate }}</span>
                    <input ng-model="user.email_address" type="email" placeholder="{{ 'EMAIL_ADDRESS' | translate }}">
                </div>
                <a class="item" ng-hide="isEditMode" ng-href="mailto:{{user.email_address}}">
                    <span class="input-label">{{ 'EMAIL_ADDRESS' | translate }}</span>
                    <span class="item-note">{{user.email_address}}</span>
                </a>
                <div class="item item-input item-stacked-label" ng-hide="!isEditMode">
                    <span class="input-label">{{ 'FACEBOOK_URL' | translate }}</span>
                    <label class="item item-input">
                        www.facebook.com/
                        <input ng-model="user.facebook_username" type="text" placeholder="{{ 'FACEBOOK_URL' | translate }}">
                    </label>
                </div>
                <a class="item" ng-hide="isEditMode || user.facebook_username == null || user.facebook_username === undefined" ng-href="https://www.facebook.com/{{user.facebook_username}}">
                    <span class="input-label">{{ 'FACEBOOK_URL' | translate }}</span>
                    <span class="item-note">{{ 'www.facebook.com/' + user.facebook_username}}</span>
                </a>
                <div class="item item-input item-stacked-label" ng-hide="!isEditMode">
                    <span class="input-label">{{ 'TWITTER_HANDLE' | translate }}</span>
                    <label class="item item-input">
                        <i class="icon ion-at placeholder-icon"></i>
                        <input ng-model="user.twt_handle" type="text" placeholder="{{ 'TWITTER_HANDLE' | translate }}">
                    </label>
                </div>
                <a class="item" ng-hide="isEditMode || user.twt_handle == null || user.twt_handle === undefined" ng-href="https://twitter.com/{{user.twt_handle}}">
                    <span class="input-label">{{ 'TWITTER_HANDLE' | translate }}</span>
                    <span class="item-note">{{ '@' + user.twt_handle}}</span>
                </a>
                <div class="item item-input item-stacked-label" ng-hide="!isEditMode">
                    <span class="input-label">{{ 'WEBSITE_URL' | translate }}</span>
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input ng-model="user.hompage_url" type="url" ng-disabled="!isEditMode" placeholder="{{ 'WEBSITE_URL' | translate }}">
                    </label>
                </div>
                <a class="item" ng-hide="isEditMode || user.hompage_url == null || user.hompage_url === undefined" ng-href="{{user.hompage_url}}">
                    <span class="input-label">{{ 'WEBSITE_URL' | translate }}</span>
                    <span class="item-note">{{user.hompage_url}}</span>
                </a>
            </div>
            <div class="row" ng-hide="!isEditMode">
                <div class="col"><button class="button button-block button-dark" type="button" ng-click="save()">{{ 'SAVE' | translate }}</button></div>
                <div class="col"><button class="button button-block" type="button" ng-click="cancel()">{{ 'CANCEL' | translate }}</button></div>
            </div>
            <div class="row" ng-hide="isEditMode">
                <div class="col" ng-hide="currentUser.user_id != user.user_id"><button class="button button-block button-dark" type="button" ng-click="editMode()">{{ 'EDIT' | translate }}</button></div>
                <div class="col"><button class="button button-block" type="button" ng-click="goBack()">{{ 'BACK' | translate }}</button></div>
            </div>
        </ion-content>
    </ion-nav-page>
</script>

<!--== MENUS ==-->

<script id="menus/settings.html" type="text/ng-template">
    <div class="bar bar-header bar-dark">
        <button class="button button-icon" ng-click="goBack()"><i class="icon ion-arrow-left-c"></i></button>
        <h1 class="title">{{ 'SETTINGS' | translate }}</h1>
    </div>
    <ion-content has-header="true">
        <div class="list">
            <div class="item item-divider">{{ 'GEOLOCATION' | translate }}</div>
            <div class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="trackLocation" ng-checked="trackLocation" ng-click="toggleTracking()">
                </label>
                {{ 'TRACK_MY_LOCATION' | translate }}
            </div>
            <a class="item item-checkbox" href="" ng-hide="!trackLocation" ng-click="getLocation()">
                {{ 'CURRENT_LOCATION' | translate }}
                <span class="item-note">{{ currentUser.coords }}</span>
            </a>
            <div class="item item-divider">{{ 'STREAM' | translate }}</div>
            <a class="item" href="#/settings/language">
                {{ 'LANGUAGE' | translate }}
                <span class="item-note">{{ '_LANGUAGE_ID' | translate }}</span>
            </a>
        </div>
    </ion-content>
</script>
<script id="menus/language.html" type="text/ng-template">
    <div class="bar bar-header bar-dark">
        <button class="button button-icon" ng-click="goBack()"><i class="icon ion-arrow-left-c"></i></button>
        <h1 class="title">{{ 'LANGUAGE' | translate }}</h1>
    </div>
    <ion-content has-header="true">
        <div class="list">
            <label class="item item-radio">
                <input type="radio" name="lang" ng-checked="language == 'en-PH'" ng-click="setLanguage('en-PH')">
                <div class="item-content">English</div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="lang" ng-checked="language == 'tl-PH'" ng-click="setLanguage('tl-PH')">
                <div class="item-content">Tagalog</div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>
    </ion-content>
</script>

<!--== MODALS ==-->

<script id="modals/tos.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-dark">
            <h1 class="title">{{ 'TERMS_OF_SERVICE' | translate }}</h1>
            <button class="button button-icon" ng-click="closeModal()"><i class="icon ion-close"></i></button>
        </header>
        <ion-content has-header="true" padding="true">
            <ul class="informher-terms-of-service list">
                <li class="item item-text-wrap">Please read these Terms of Use carefully before using the services offered by InformHer. This Agreement sets forth the legally binding terms and conditions for your use of the application. By using the service in any manner, including, but not limited to, browsing the application or contributing content, information, or other materials or services to the application, you agree to be bound by this Agreement.</li>
                <li class="item item-divider">Terms</li>
                <li class="item item-text-wrap">You must be at least 13 years old to use the Service.</li>
                <li class="item item-text-wrap">InformHer's content may be copied, reproduced, republished, uploaded, posted, transmitted, distributed, or used for the creation of derivative works without the author's prior written consent.</li>
                <li class="item item-text-wrap">You may not post violent, nude, partially nude, discriminatory, unlawful, infringing, hateful, pornographic or sexually suggestive photos or other content via the Service.</li>
                <li class="item item-text-wrap">You may not create an account for anyone other than yourself. You also represent that all information you provide or provided to InformHer upon registration and at all other times will be true, accurate, current and complete and you agree to update your information as necessary to maintain its truth and accuracy.</li>
                <li class="item item-text-wrap">You agree that you will not solicit, collect or use the login credentials of other InformHer users.</li>
                <li class="item item-text-wrap">You are responsible for keeping your password secret and secure.</li>
                <li class="item item-text-wrap">You must not defame, stalk, bully, abuse, harass, threaten, impersonate or intimidate people or entities and you must not post private or confidential information.</li>
                <li class="item item-text-wrap">You may not use the service for any illegal or unauthorized purpose.</li>
                <li class="item item-text-wrap">You are solely responsible for your conduct and any data, text, files, information, usernames, images, graphics, photos, profiles, audio and video clips, sounds, musical works, works of authorship, applications, links and other content or materials you submit, post or display.</li>
                <li class="item item-text-wrap">You must not create or submit unwanted email, comments, likes or other forms of commercial or harassing communications to any InformHer users.</li>
                <li class="item item-text-wrap">You must not attempt to restrict another user from using the Service and you must not encourage or facilitate violations of these Terms of Use.</li>
                <li class="item item-text-wrap">Violation of these Terms of Use may, in InformHer sole discretion, result in termination of your account.</li>
            </ul>

            <button class="button button-block button-dark" ng-click="closeModal()">{{ 'OK' | translate }}</button>
        </ion-content>
    </div>
</script>

<script id="modals/delete.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-assertive">
            <h1 class="title">{{ 'DELETE' | translate }}</h1>
            <button class="button button-icon" ng-click="closeModal()"><i class="icon ion-close"></i></button>
        </header>
        <ion-content has-header="true" padding="true">
            <div ng-hide="deleteType != 'post'">
                {{ 'CONFIRM_POST_DELETE' | translate }}
            </div>
            <div ng-hide="deleteType != 'post'"></div>
            <div ng-hide="deleteType != 'comment'">
                {{ 'CONFIRM_COMMENT_DELETE' | translate }}
            </div>
            <div ng-hide="deleteType != 'comment'"></div>
            <div class="row">
                <div class="col" ng-hide="deleteType != 'post'"><button class="button button-block button-assertive" type="button" ng-click="doDeletePost(); closeModal()">{{ 'YES' | translate }}</button></div>
                <div class="col" ng-hide="deleteType != 'comment'"><button class="button button-block button-assertive" type="button" ng-click="doDeleteComment(); closeModal()">{{ 'YES' | translate }}</button></div>
                <div class="col"><button class="button button-block" type="button" ng-click="closeModal()">{{ 'NO' | translate }}</button></div>
            </div>
        </ion-content>
    </div>
</script>

<script id="modals/ask.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-energized">
            <h1 class="title">{{ 'ASK' | translate }}</h1>
            <button class="button button-icon" ng-click="closeModal()"><i class="icon ion-close"></i></button>
        </header>
        <ion-content has-header="true">
            <ul class="list">
                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'TITLE' | translate }}</span>
                    <input ng-model="input.title" type="text" placeholder="{{ 'TITLE' | translate }}">
                </li>

                <li class="item item-input item-stacked-label informher-tags-input item-text-wrap">
                    <span class="input-label">{{ 'TAGS' | translate }}</span>
                    <div class="informher-tags-list">
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('education')">education</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('health')">health</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('abuse')">abuse</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('government')">government</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('news')">news</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('moe')">moe</button>
                    </div>
                    <label class="item item-input">
                        <span ng-repeat="tag in input.tags" class="informher-tags-input-tag">{{tag}}</span>
                        <input type="text" placeholder="{{ 'TAG' | translate }}">
                    </label>
                </li>

                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'CONTENT' | translate }}</span>
                    <textarea ng-model="input.content" placeholder="{{ 'TYPE_YOUR_QUESTION_HERE' | translate }}"></textarea>
                </li>
            </ul>
            <div class="row">
                <div class="col"><button class="button button-block button-energized" type="button" ng-click="submitPost('ask')">{{ 'SUBMIT' | translate }}</button></div>
                <div class="col"><button class="button button-block" type="button" ng-click="closeModal()">{{ 'CANCEL' | translate }}</button></div>
            </div>
        </ion-content>
    </div>
</script>
<script id="modals/relate.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-balanced">
            <h1 class="title">{{ 'RELATE' | translate }}</h1>
            <button class="button button-icon" ng-click="closeModal()"><i class="icon ion-close"></i></button>
        </header>
        <ion-content has-header="true">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'TITLE' | translate }}</span>
                    <input ng-model="input.title" type="text" placeholder="{{ 'TITLE' | translate }}">
                </label>
                <label class="item item-input item-stacked-label informher-tags-input item-text-wrap">
                    <span class="input-label">{{ 'TAGS' | translate }}</span>
                    <div class="informher-tags-list">
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('education')">education</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('health')">health</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('abuse')">abuse</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('government')">government</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('news')">news</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('moe')">moe</button>
                    </div>
                    <label class="item item-input">
                        <span ng-repeat="tag in input.tags" class="informher-tags-input-tag">{{tag}}</span>
                        <input type="text" placeholder="{{ 'TAGS' | translate }}">
                    </label>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'CONTENT' | translate }}</span>
                    <textarea ng-model="input.content" placeholder="{{ 'ANYTHING_YOU_WANT_TO_SHARE_HERE' | translate }}"></textarea>
                </label>
            </div>
            <div class="row">
                <div class="col"><button class="button button-block button-balanced" type="button" ng-click="submitPost('relate')">{{ 'SUBMIT' | translate }}</button></div>
                <div class="col"><button class="button button-block" type="button" ng-click="closeModal()">{{ 'CANCEL' | translate }}</button></div>
            </div>
        </content>
    </div>
</script>
<script id="modals/shoutout.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-positive">
            <h1 class="title">{{ 'SHOUTOUT' | translate }}</h1>
            <button class="button button-icon" ng-click="closeModal()"><i class="icon ion-close"></i></button>
        </header>
        <ion-content has-header="true">
            <ul class="list">
                <li class="item item-input item-stacked-label item-text-wrap informher-tags-input">
                    <span class="input-label">{{ 'NATURE_OF_YOUR_REPORT' | translate }}</span>

                    <div class="informher-tags-list">
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('education')">education</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('health')">health</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('abuse')">abuse</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('government')">government</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('news')">news</button>
                        <button class="button button-small button-clear informher-tags-list-tag" ng-click="addTag('moe')">moe</button>
                    </div>
                    <label class="item item-input">
                        <span ng-repeat="tag in input.tags" class="informher-tags-input-tag">{{tag}}</span>
                        <input type="text" placeholder="{{ 'TAGS' | translate }}">
                    </label>
                <li class="item item-checkbox item-text-wrap">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="input.track">
                    </label>
                    {{ 'KNOW_MY_CURRENT_LOCATION' | translate }}
                </li>
                <li class="item item-checkbox item-text-wrap">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="input.contact" ng-click="input.urgent = input.contact &amp;&amp; input.urgent">
                    </label>
                    {{ 'CONTACT_ME' | translate }}
                </li>
                <li class="item item-checkbox item-text-wrap" ng-hide="!input.contact">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="input.urgent">
                    </label>
                    {{ 'CONTACT_ME_IMMEDIATELY' | translate }}
                </li>
                <li class="item item-checkbox item-divider" ng-hide="!input.contact">{{ 'CONTACT_INFORMATION' | translate }}</li>
                <li class="item item-input" ng-hide="!input.contact">
                    <span class="input-label">{{ 'MOBILE' | translate }}</span>
                    <input ng-model="input.mobile" type="text" placeholder="{{ 'MOBILE' | translate }}">
                </li>
                <li class="item item-input" ng-hide="!input.contact">
                    <span class="input-label">{{ 'EMAIL_ADDRESS' | translate }}</span>
                    <input ng-model="input.email" type="text" placeholder="{{ 'EMAIL_ADDRESS' | translate }}">
                </li>
            </ul>

            <div class="row">
                <div class="col"><button class="button button-block button-positive" type="button" ng-click="submitPost('shoutout')">{{ 'SUBMIT' | translate }}</button></div>
                <div class="col"><button class="button button-block" type="button" ng-click="closeModal()">{{ 'CANCEL' | translate }}</button></div>
            </div>
        </ion-content>
    </div>
</script>
<script id="modals/search.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-royal">
            <h1 class="title">{{ 'SEARCH' | translate }}</h1>
            <button class="button button-icon" ng-click="closeModal()"><i class="icon ion-close"></i></button>
        </header>
        <ion-content has-header="true">
            <ul class="list">
                <li class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'QUERY_STRING' | translate }}</span>
                    <input ng-model="searchInput.queryString" type="text" placeholder="{{ 'QUERY_STRING' | translate }}">
                </li>

                <li class="item item-divider">{{ 'SEARCH_FOR' | translate }} </li>

                <li class="item item-checkbox item-text-wrap">
                    <label class="checkbox">
                        <input ng-model="searchInput.title" type="checkbox">
                    </label>
                    {{ 'TITLE' | translate }}
                </li>

                <li class="item item-checkbox item-text-wrap">
                    <label class="checkbox">
                        <input ng-model="searchInput.author" type="checkbox">
                    </label>
                    {{ 'AUTHOR' | translate }}
                </li>

                <li class="item item-checkbox item-text-wrap">
                    <label class="checkbox">
                        <input ng-model="searchInput.content" type="checkbox">
                    </label>
                    {{ 'CONTENT' | translate }}
                </li>

                <li class="item item-checkbox item-text-wrap">
                    <label class="checkbox">
                        <input ng-model="searchInput.tags" type="checkbox">
                    </label>
                    {{ 'TAGS' | translate }}
                </li>

                <li class="item item-divider">{{ 'SEARCH_IN' | translate }}</li>

                <li class="item item-checkbox item-text-wrap">
                    <label class="checkbox">
                        <input ng-model="searchInput.ask" type="checkbox">
                    </label>
                    {{ 'ASK' | translate }}
                </li>

                <li class="item item-checkbox item-text-wrap">
                    <label class="checkbox">
                        <input ng-model="searchInput.relate" type="checkbox">
                    </label>
                    {{ 'RELATE' | translate }}
                </li>

                <li class="item item-checkbox item-text-wrap">
                    <label class="checkbox">
                        <input ng-model="searchInput.shoutout" type="checkbox">
                    </label>
                    {{ 'SHOUTOUT' | translate }}
                </li>
            </ul>
            <div class="row">
                <div class="col"><button class="button button-block button-royal" type="button" ng-click="setSearchMode(true); search()">{{ 'SEARCH' | translate }}</button></div>
                <div class="col"><button class="button button-block" type="button" ng-click="closeModal()">{{ 'CANCEL' | translate }}</button></div>
            </div>
        </ion-content>
    </div>
</script>

</body>
</html>
