<view title="'Ask'">
    <content has-header="true" padding="true">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Title</span>
                <input ng-model="title" type="text" placeholder="Title">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Tags</span>
                <input ng-model="tags" type="text" placeholder="Tags">
                <ul style="display: none">
                    <li ng-repeat="tag in tags">{{tag}}</li>
                </ul>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Content</span>
                <textarea ng-model="content" placeholder="Type your question here"></textarea>
            </label>
        </div>
        <button class="button button-block button-positive" type="button" ng-click="submit()">Post</button>
    </content>
</view>