<view title="'InformHer'">
    <content has-header="true" has-footer="true" padding="true">
        <h1>{{ 'APP_ID' | translate }}</h1>

        <div class="row">
            <div class="col"><a class="button button-block button-positive" href="#/login">{{ 'LOGIN' | translate }}</a></div>
            <div class="col"><a class="button button-block button-positive" href="#/register">{{ 'REGISTER' | translate }}</a></div>
        </div>
    </content>
	<footer class="bar bar-footer padding-horizontal" id="informher-language-list">
		<ul>
			<li>Language:</li>
			<li><a href="" ng-click="setLanguage('en-PH')">English</a></li>
			<li><a href="" ng-click="setLanguage('tl-PH')">Tagalog</a></li>
		</ul>
	</footer>
</view>