<view title="'Language'">
    <content has-header="true">
	    <div class="list">
		    <label class="item item-radio">
			    <input type="radio" name="lang">
			    <div class="item-content">
				    English
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
		    </label>
		    <label class="item item-radio">
			    <input type="radio" name="lang">
			    <div class="item-content">
				    Tagalog
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
		    </label>
	    </div>
    </content>
</view>
