<content has-header="true">
    <div class="single single-{{ post.category }}">
        <div class="single-meta">
            <h3 class="category">{{ post.category }}</h3>
            <img class="avatar-author" src="http://lorempixel.com/80/80/cats/{{post.author}}" alt="{{post.author}}">

            <h2 class="title">{{ post.title }}</h2>

            <div>
                Tagged:
                <ul class="tags">
                    <li ng-repeat="tag in post.tags"
                        style="background-color: {{bgColorForTag(tag)}}; color: {{fgColorForTag(tag)}}">{{tag}}
                    </li>
                </ul>
            </div>
            Posted
            <time datetime="{{ post.date }}">{{ formatDate(post.date) }}</time>
            by <em class="author">{{ post.author }}</em>
        </div>
        <div class="content">
            {{ post.content }}
        </div>
    </div>
    <div class="padding-horizontal">
        <a class="button" type="button" href="#/stream">Back</a>
    </div>
</content>
