<view title="'Viewing user profile of &quot;' + user.name + '&quot;'">
    <content has-header="true">
        <ul class="list">
            <li class="item item-input">
                <span class="input-label">Username</span>
                <input ng-model="user.name" type="text" disabled>
            </li>
            <li class="item item-input">
                <span class="input-label">Joined</span>
                <input ng-model="user.joined" type="date" disabled>
            </li>
            <li class="item item-input item-stacked-label">
                <span class="input-label">E-mail address</span>
                <input ng-model="user.email" type="email" placeholder="Your email address here" ng-disabled="!editMode">
            </li>
            <li class="item item-input item-stacked-label">
                <span class="input-label">Facebook URL</span>
                http://www.facebook.com/<input ng-model="user.fbUrl" type="text" placeholder="Facebook"
                                               ng-disabled="!editMode">
            </li>
            <li class="item item-input item-stacked-label">
                <span class="input-label">Twitter handle</span>
                @<input ng-model="user.twitterHandle" type="text" placeholder="Twitter handle" ng-disabled="!editMode">
            </li>
            <li class="item item-input item-stacked-label">
                <span class="input-label">Website URL</span>
                <input ng-model="user.website" type="url" placeholder="Your website here, should start with http://"
                       ng-disabled="!editMode">
            </li>
            <li class="item item-input item-stacked-label">
                <span class="input-label">Bio</span>
                <textarea ng-model="user.bio" placeholder="Tell something about your life"
                          ng-disabled="!editMode"></textarea>
            </li>
        </ul>
        <div class="padding-horizontal">
            <button class="button button-positive" type="button" ng-click="primaryBtnClick()">{{ primaryBtnText }}
            </button>
            <button class="button" type="button" ng-click="backBtnClick()">{{ backBtnText }}</button>
        </div>
    </content>
</view>
