<view title="'Register'">
    <content has-header="true" padding="true">
        <ul class="list">
            <li class="item item-input">
                <span class="input-label">Username</span>
                <input ng-model="username" type="text" placeholder="Username">
            </li>
            <li class="item item-input">
                <span class="input-label">E-mail address</span>
                <input ng-model="email" type="email" placeholder="E-mail address">
            </li>
            <li class="item item-input">
                <span class="input-label">Password</span>
                <input ng-model="password" type="password" placeholder="Password">
            </li>
            <li class="item item-input">
                <span class="input-label">Confirm password</span>
                <input ng-model="passwordAgain" type="password" placeholder="Confirm password">
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input ng-model="agree" type="checkbox">
                </label>
                I agree to InformHer's <a href="#!">license agreement</a>.
            </li>
        </ul>
        <button class="button button-block button-positive" type="button" ng-disabled="!agree" ng-click="submit()">Login</button>
    </content>
</view>