<view title="'Settings'">
    <content has-header="true">
        <div class="list">
	        <div class="item item-divider">Account</div>
	        <div class="item item-toggle">
		        Track my location and display it in profile
		        <label class="toggle">
			        <input type="checkbox">
			        <div class="track">
				        <div class="handle"></div>
			        </div>
		        </label>
	        </div>
	        <div class="item item-divider">Stream</div>
	        <a class="item" href="#/settings/language">
		        Language
		        <span class="item-note">English</span>
	        </a>
	        <a class="item" href="#/settings/sort">
		        Default Sort
		        <span class="item-note">Date, older</span>
	        </a>
        </div>
    </content>
</view>
