<view title="'Language'">
    <content has-header="true">
	    <div class="list">
			<div class="item item-divider">Title</div>
		    <label class="item item-radio">
			    <input type="radio" name="sort">
			    <div class="item-content">
				    Ascending
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
		    </label>
		    <label class="item item-radio">
			    <input type="radio" name="sort">
			    <div class="item-content">
				    Descending
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
		    </label>
		    <div class="item item-divider">Author</div>
		    <label class="item item-radio">
			    <input type="radio" name="sort">
			    <div class="item-content">
				    Ascending
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
		    </label>
		    <label class="item item-radio">
			    <input type="radio" name="sort">
			    <div class="item-content">
				    Descending
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
		    </label>
		    <div class="item item-divider">Date</div>
		    <label class="item item-radio">
			    <input type="radio" name="sort">
			    <div class="item-content">
				    Recent
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
		    </label>
		    <label class="item item-radio">
			    <input type="radio" name="sort">
			    <div class="item-content">
				    Older
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
		    </label>
	    </div>
    </content>
</view>
