<div id="menu-center" class="pane">
    <header class="bar bar-subheader bar-stable">
        <div class="informher-filter">
            <div class="button-bar-inline">
                <a href="" class="button button-energized button-outline {{ askClass }}"
                   ng-click="toggleFilter('ask')"><i class="ion icon ion-help-circled"></i></a>
                <a href="" class="informher-btn-add button button-energized" ng-click="openModal('ask.html')"><i
                        class="ion icon ion-plus"></i></a>
            </div>
            <div class="button-bar-inline">
                <a href="" class="button button-balanced button-outline {{ relateClass }}"
                   ng-click="toggleFilter('relate')"><i class="ion icon ion-information-circled"></i></a>
                <a href="#/stream" class="informher-btn-add button button-balanced" ng-click="openModal('relate.html')"><i
                        class="ion icon ion-plus"></i></a>
            </div>
            <div class="button-bar-inline">
                <a href="" class="button button-positive button-outline {{ shoutoutClass }}"
                   ng-click="toggleFilter('shoutout')"><i class="ion icon ion-chatbox-working"></i></a>
                <a href="" class="informher-btn-add button button-positive"
                   ng-click="openModal('shoutout.html')"><i class="ion icon ion-plus"></i></a>
            </div>
        </div>
    </header>
    <view title="'Stream'" left-buttons="leftButtons" right-buttons="rightButtons" disable-back-button="true">
        <content has-header="true" has-subheader="true" has-footer="true" on-refresh="onRefresh()">
            <list id="stream" item-type="item-avatar">
                <item ng-repeat="post in posts" href="#/stream/view/{{post.id}}" class="post post-{{post.category}}">
                    <img class="avatar-author" src="http://lorempixel.com/40/40/cats/{{post.author}}"
                         alt="{{post.author}}">
                    <strong class="category"><i
                            class="ion icon {{ (post.category == 'ask' ? 'ion-help-circled' : (post.category == 'relate' ? 'ion-information-circled' : (post.category == 'shoutout' ? 'ion-chatbox-working' : ''))) }}"></i>
                        {{post.category}}</strong>

                    <h2 class="title">{{post.title}}</h2>
                    <ul class="tags">
                        <li ng-repeat="tag in post.tags"
                            style="background-color: {{ colorForTag(tag).bg }}; color: {{ colorForTag(tag).fg }}">
                            {{tag}}
                        </li>
                    </ul>
                    <p class="author">Posted by {{post.author}}</p>

                    <!-- <p class="summary">{{post.content}}</p> -->
                </item>
            </list>
            <ion-scroll-refresher>Pull to refresh...</ion-scroll-refresher>
        </content>
    </view>
    <footer class="bar bar-footer bar-stable">
        <div class="informher-sort">
            <button class="button button-icon icon {{ sortTitleClass }}" ng-click="doSort('title')">Title</button>
            <button class="button button-icon icon {{ sortAuthorClass }}" ng-click="doSort('author')">Author</button>
            <button class="button button-icon icon {{ sortDateClass }}" ng-click="doSort('date')">Date</button>
        </div>
    </footer>
</div>

<div id="menu-left" class="menu menu-left">
    <header class="bar bar-header bar-dark">
        <h1 class="title">You</h1>
    </header>
    <content has-header="true">
        <div class="card">
            <div class="item item-thumbnail-left">
                <img src="http://lorempixel.com/40/40/cats/{{user.id}}">
                <h2><a href="#/profile/{{user.id}}">{{user.name}}</a></h2>
            </div>
        </div>
        <list>
            <item href="#/home">{{ 'LOGOUT' | translate }}</item>
        </list>
    </content>
</div>

<script id="ask.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-dark">
            <h1 class="title">Ask</h1>
        </header>
        <content has-header="true">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Title</span>
                    <input ng-model="title" type="text" placeholder="Title">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Tags</span>

                    <div class="tags-input">
                        <ul>
                            <li ng-repeat="tag in tags">{{tag}}</li>
                        </ul>
                        <input type="text" placeholder="Tags">
                    </div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Content</span>
                    <textarea ng-model="content" placeholder="Type your question here"></textarea>
                </label>
            </div>
            <div class="padding-horizontal">
                <button class="button button-positive" type="button" ng-click="submit()">Submit Post</button>
                <button class="button" type="button" ng-click="closeModal()">Cancel</button>
            </div>
        </content>
    </div>
</script>
<script id="relate.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-dark">
            <h1 class="title">Relate</h1>
        </header>
        <content has-header="true">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Title</span>
                    <input ng-model="title" type="text" placeholder="Title">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Tags</span>

                    <div class="tags-input">
                        <ul>
                            <li ng-repeat="tag in tags">{{tag}}</li>
                        </ul>
                        <input type="text" placeholder="Tags">
                    </div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Content</span>
                    <textarea ng-model="content" placeholder="Type anything you want to share here"></textarea>
                </label>
            </div>
            <div class="padding-horizontal">
                <button class="button button-positive" type="button" ng-click="submit()">Submit Post</button>
                <button class="button" type="button" ng-click="closeModal()">Cancel</button>
            </div>
        </content>
    </div>
</script>
<script id="shoutout.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-dark">
            <h1 class="title">Shoutout</h1>
        </header>
        <content has-header="true">
            <ul class="list">
                <li class="item item-input item-stacked-label">
                    <span class="input-label">Describe the nature of your report</span>

                    <div class="tags-input">
                        <ul>
                            <li ng-repeat="tag in tags">{{tag}}</li>
                        </ul>
                        <input type="text" placeholder="Tags">
                    </div>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="trackLocation">
                    </label>
                    I want InformHer to know my current location
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="contact"
                               ng-click="immediateContact = contact &amp;&amp; immediateContact">
                    </label>
                    I want InformHer to get in touch regarding my report
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="immediateContact"
                               ng-checked="contact &amp;&amp; immediateContact" ng-disabled="!contact">
                    </label>
                    I want InformHer to contact me immediately
                </li>
            </ul>
            <div class="padding-horizontal">
                <button class="button button-positive" type="button" ng-click="submit()">Submit Report</button>
                <button class="button" type="button" ng-click="closeModal()">Cancel</button>
            </div>
        </content>
    </div>
</script>
<script id="language.html" type="text/ng-template">
	<div class="modal">
		<header class="bar bar-header bar-dark">
			<h1 class="title">Select language</h1>
		</header>
		<content has-header="true">
			<list>
				<item href="" ng-click="setLanguage('en-PH'); closeModal()">{{ 'ENGLISH' | translate }}</item>
				<item href="" ng-click="setLanguage('tl-PH'); closeModal()">{{ 'TAGALOG' | translate }}</item>
			</list>
			<div class="padding-horizontal">
				<button class="button button-positive" type="button" ng-click="submit()">Submit Report</button>
				<button class="button" type="button" ng-click="closeModal()">Cancel</button>
			</div>
		</content>
	</div>
</script>
