<header class="bar bar-header bar-dark item-input-inset">
    <button class="button button-icon icon ion-navicon"></button>
    <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
    </label>
</header>
<view title="'Stream'">
    <content has-header="true" padding="true">
        <list>
            <item ng-repeat="post in posts" id="stream" type="item-text-wrap" href="#/posts/view/{{post.id}}">
                <img class="avatar-author" src="http://lorempixel.com/40/40/cats/" alt="{{post.author}}">

                <strong class="category">{{post.category}}</strong>
                <h3 class="title">{{post.title}}</h3>
                <em class="author">Posted by {{post.author}}</em>

                <p class="summary">{{post.content}}</p>
                <ul class="tags">
                    <li ng-repeat="tag in post.tags"
                        style="background-color: {{bgColorForTag(tag)}}; color: {{fgColorForTag(tag)}}">{{tag}}
                    </li>
                </ul>
            </item>
        </list>
        <!-- TODO implement side bar -->
    </content>
</view>