<ons-page>
	<ul class="fa-ul">

		<ons-list-item
			class="topcoat-list__item_active" 
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('pages/profile.html')">
			<i class="fa-li fa fa-user fa-lg" style="top: 25%"></i>
			Profile
		</ons-list-item>

        <ons-list-item
            class="topcoat-list__item_active"
            ng-click="ons.slidingMenu.toggleMenu();
			ons.slidingMenu.setAbovePage('pages/stream.html')">
            <i class="fa-li fa fa-list-alt fa-lg" style="top: 25%"></i>
            Stream
        </ons-list-item>

		<ons-list-item
			class="topcoat-list__item_active"
			ng-click="ons.slidingMenu.toggleMenu();
			ons.slidingMenu.setAbovePage('pages/settings.html')">
			<i class="fa-li fa fa-gear fa-lg" style="top: 25%"></i>
			Settings
		</ons-list-item>

        <ons-list-item
                class="topcoat-list__item_active"
                ng-click="ons.slidingMenu.toggleMenu();
			ons.slidingMenu.setAbovePage('pages/settings.html')">
            <i class="fa-li fa fa-question-circle fa-lg" style="top: 25%"></i>
            Help
        </ons-list-item>

        <ons-list-item
                class="topcoat-list__item_active"
                ng-click="ons.slidingMenu.toggleMenu();
			ons.screen.dismissPage()">
            <i class="fa-li fa fa-power-off fa-lg" style="top: 25%"></i>
            Logout
        </ons-list-item>

	</ul>

</ons-page>