<ons-page class="center">
	<h1>InformHer</h1>

    <div ng-view>
        <ons-scroller>
            <div>
                <ons-button>Title</ons-button>
                <p>description</p>
                <ul>
                    <li>Tag 1</li>
                    <li>Tag 2</li>
                    <li>Tag 3</li>
                </ul>
            </div>
            <div>
                <ons-button>Title</ons-button>
                <p>description</p>
            </div>
        </ons-scroller>
    </div>

    <ons-tabbar>
        <ons-tabbar-item
                icon="home"
                label="Ask"
                ng-click=""
                active="true"></ons-tabbar-item>
        <ons-tabbar-item
                icon="comment"
                label="Relate"
                ng-click=""></ons-tabbar-item>
        <ons-tabbar-item
                icon="gear"
                label="Shoutout"
                ng-click=""></ons-tabbar-item>
    </ons-tabbar>
	
	<img src="images/ico_swipe_right_s.png" alt="">
</ons-page>