.button {
    padding: 16px 8px;
    margin-bottom: 4px;
}

input[type="text"] {
    margin-bottom: 4px;
}

input[type="email"] {
    margin-bottom: 4px;
}

input[type="password"] {
    margin-bottom: 4px;
}

input[type="checkbox"] {
    margin-left: 4px;
}

textarea {
    margin-bottom: 4px;
}

hr {
    margin: 4px 0;
}

.row > .columns > .row {
    padding: 0;
}

.columns {
    padding: 0 4px;
}
