ul.stream {
    list-style-type: none;
    display: block;
}

ul.stream > li.stream-post {
    display: block;
    background-color: #f2f2f2;
    padding: 4px;
    margin-bottom: 4px;
}

ul.stream > li.stream-post > div.post-content {
    display: none;
}

ul.stream > li.stream-post > div.post-content.active {
    display: block;
}

ul.stream > li.stream-post > div.post-meta {
    
}

ul.stream > li.stream-post > div.post-meta > strong.post-title > a {
    display: block;
}

ul.stream > li.stream-post > div.post-meta > ul.post-categories {
    display: block;
    margin: 0;
    float: left;
    width: 10%;
}

ul.stream > li.stream-post > div.post-meta > ul.post-categories > li {
    display: inline-block;
    color: #fff;
    padding: 0 4px;
    margin: 0 4px;
    font-size: 75%;
}

ul.stream > li.stream-post > div.post-meta > ul.post-categories > li > a:link {
    background-color: inherit;
    color: inherit;
}

ul.stream > li.stream-post > div.post-meta > ul.post-categories > li > a:visited {
    background-color: inherit;
    color: inherit;
}

ul.stream > li.stream-post > div.post-meta > ul.post-tags {
    display: block;
    margin: 0;
    float: right;
}

ul.stream > li.stream-post > div.post-meta > ul.post-tags > li {
    display: inline-block;
    color: #fff;
    padding: 0 4px;
    margin: 0 4px;
    font-size: 75%;
}

ul.stream > li.stream-post > div.post-meta > ul.post-tags > li > a:link {
    background-color: inherit;
    color: inherit;
}

ul.stream > li.stream-post > div.post-meta > ul.post-tags > li > a:visited {
    background-color: inherit;
    color: inherit;
}

ul.stream > li.stream-post > div.post-content {
    clear: both;
}

/* color-coded tags */
ul.stream > li.stream-post > div.post-meta > ul.post-tags > li.tag-a {
    background-color: #196177;
}

ul.stream > li.stream-post > div.post-meta > ul.post-tags > li.tag-b {
    background-color: #c60f13;
}

ul.stream > li.stream-post > div.post-meta > ul.post-tags > li.tag-c {
    background-color: #f08a24;
}

ul.stream > li.stream-post > div.post-meta > ul.post-tags > li.tag-d {
    background-color: #457a1a;
}

/* color-coded categories */

ul.stream > li.stream-post > div.post-meta > ul.post-categories > li.category-ask {
    background-color: #196177;
}

ul.stream > li.stream-post > div.post-meta > ul.post-categories > li.category-relate {
    background-color: #c60f13;
}

ul.stream > li.stream-post > div.post-meta > ul.post-categories > li.category-shoutout {
    background-color: #f08a24;
}
